<a name="top"></a>Contents
===
- [Introduction](#intro)

- [Libraries](#libraries)

- [Functions](#functions)

- [Datetime Dataframe](#datetime)

- [Pageviews](#pageviews)
    - [Open Pageviews dataset](#open_pageviews)
    - [Customize and save Pageviews dataset](#customize_pageviews)
    
- [BW](#bw)
    - [Open BW dataset](#open_bw)
    - [Customize and save BW dataset](#customize_bw)

    
- [Adwords](#adwords)
    - [Open Adwords dataset](#open_adwords)
    - [Customize Adwords dataset](#customize_ads)
    - [Merge Adwords dataset](#merge_ads)
    - [Save Adwords dataset](#save_ads)    

    
- [Final dataset](#final)
    - [Joining dataset](#join)
    - [Rolling dataset](#rolling)
    - [Concat and save Final Dataset](#save_final)

-----------------------------------------------------------------------------------------
<a name='intro'></a>
# Introduction
EXPLICAR TODO Y PONER FOTO

------------------------------------------------------------------------------------------
<a name='libraries'></a>
# Libraries
First of all, it is necessary to import the required libraries to develop all the steps correctly of this notebook.

In [45]:
#import libraries
import os
import glob
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline


#import filter warnings
import warnings
warnings.filterwarnings('ignore')


#display a maximum of 500 columns and rows
pd.set_option('display.max_rows',500)
pd.set_option('display.max_columns',500)

#set directory of work
path = '/home/miguel/my_project_python/my_project_env/tfm/shopping'
os.chdir(path)

-----------------------------------------------------------------------------------------------
<a name='functions'></a>
# Functions
In this chapter is run the functions used in this notebook.

In [117]:
#OPEN_BW: load bw dataset
def open_bw(file,sheet_name, path):

    #open the file xlsx    
    df_bw = pd.read_excel(path + file, sheet_name)
    
    #rename the file columns correctly
    df_bw = df_bw.rename(index=str, columns={'Referencia':'Reference', 'T Día natural':'Date', 
                                             'Valor neto pedidos':'Net_Incomes', 
                                             'Cantidad en unidades (pedidos)':'Units_sold'})
    
    #parse date columns
    df_bw['Date'] = pd.to_datetime(df_bw['Date'], format = '%d.%m.%Y')
    
    return df_bw



#LIST_FUNCTION: create a list from a column
def list_function(df):
    
    #series from int to string
    lista = df.apply(str)
    
    #string to list
    c = lista.values.tolist()
    
    return c



#LOOP_FUNCTION: create a loop for saving data
def loop_function(df, c, path_save, path_data1 = '', path_data2 = '', path_data3 = '', file_format = '.csv'):

    #conditional to select the right function
    if df == pageview_missing_values:
        #loop
        for i in range(len(c)):
            df_loop = df(path_data1, c[i])
            file = c[i]
            df_loop.to_csv(path_save + file + file_format)
        return print('Applied correctly function: pageview_missing_values')
    
    elif df == bw_missing_values:
        #loop
        for i in range(len(c)):
            df_loop = bw_missing_values(path_data1, path_data2, c[i])
            file = c[i]
            df_loop.to_csv(path_save + file + file_format)
        return print('Applied correctly function: bw_missing_values')
    
    elif df == ads_missing_values:
        #loop
        for i in range(len(c)):
            df_loop = ads_missing_values(path_data1, path_data2, c[i])
            file = c[i]
            df_loop.to_csv(path_save + file + file_format)
        return print('Applied correctly function: ads_missing_values')

    elif df == join_dataset:
        #loop
        for i in range(len(c)):
            df_loop = join_dataset(c[i], path_data1, path_data2, path_data3)
            file = c[i]
            df_loop.to_csv(path_save + file + file_format)
        return print('Applied correctly function: join_dataset')
    
    elif df == rolling_dataset:
        #loop
        for i in range(len(c)):
            df_loop = rolling_dataset(path_data1, c[i])
            file = c[i]  
            df_loop.to_csv(path_save + file + file_format)
        return print('Applied correctly function: rolling_dataset')
        
    else:       
        #loop
        for i in range(len(c)):
            df_loop = DataFrameDict[c[i]]
            file = c[i]
            df_loop.to_csv(path_save + file + file_format)
        return print('Function applied correctly')


    
#PAGE_MISSING_VALUES: customize the dataset
def pageview_missing_values(path, file):
    
    #read csv
    df_pageview = pd.read_csv(path + file + '_url.csv')
    
    #rename columns
    df_pageview = df_pageview.rename(index=str, columns={'Day Index':'Dates', 'Page Views': 'Page_Views'})
    
    #select columns of interest
    column_interest_pageview = ['Page', 'Dates', 'Page_Views']
    df_pageview = df_pageview[column_interest_pageview]
    
    #parse dates    
    df_pageview['Dates'] = pd.to_datetime(df_pageview['Dates'], format = '%d/%m/%Y')
    
    #merge dataframes    
    merge_pageview = df_pageview.merge(df_datetime,
        how='right',
        left_on=['Dates'],
        right_on=['Dates'])
    
    #fill values    
    merge_pageview['Page'].fillna(method='ffill', inplace = True)
    merge_pageview['Page_Views'].fillna(0, inplace = True)
    
    #merge url
    merge_url = merge_pageview.merge(df_reference_url,
        how='inner',
        left_on=['Page'],
        right_on=['URL'])
    
    #select columns
    column_interest_reference = ['Reference', 'Dates', 'Page_Views']
    merge_url = merge_url[column_interest_reference].sort_values(by='Dates')
        
    return merge_url



#BW_MISSING_VALUES: customize the dataset
def bw_missing_values(path1, path2, file):
    
    #set directory and open datetime_df file
    #os.chdir(path1)
    df_datetime = pd.read_csv(path1 + 'datetime_df.csv')
    
    #selecto column interest and parse data to datetime
    column_interest_datetime = ['Dates']
    df_datetime = df_datetime[column_interest_datetime]
    df_datetime['Dates'] = pd.to_datetime(df_datetime['Dates'], format = '%Y-%m-%d')

    #open the csv file for each reference
    df_bw_ref = pd.read_csv(path2 + c[i] + '.csv')
        
    #data wranggling of this data        
    df_bw_ref['Date'] = pd.to_datetime(df_bw_ref['Date'], format = '%Y-%m-%d')
    df_bw_ref = df_bw_ref.rename(index=str, columns={'Net Incomes': 'Net_Incomes', })
        
    #select columns 
    column_interest_bw = ['Reference', 'Name', 'Date', 'Net_Incomes', 'Units_sold']
    df_bw_ref = df_bw_ref[column_interest_bw]
        
    #merge with df_datetime
    merge_bw = df_bw_ref.merge(df_datetime,
        how='right',
        left_on=['Date'],
        right_on=['Dates'])
        
    #fill NaN values
    merge_bw['Reference'].fillna(method='ffill', inplace = True)
    merge_bw['Name'].fillna(method='ffill', inplace = True)
    merge_bw.fillna(0, inplace = True)
    
    #sort values by Dates
    merge_bw = merge_bw.sort_values(by='Dates')
    
    #select required columns
    column_interest_merge = ['Reference', 'Name', 'Dates', 'Net_Incomes', 'Units_sold']
    merge_bw = merge_bw[column_interest_merge]   
 
    return merge_bw



#ADS_MISSING_VALUES: customize the dataset
def ads_missing_values(path1, path2, file):
    
    #set directory and open datetime_df file
    #os.chdir(path1)
    df_datetime = pd.read_csv(path1 + 'datetime_df.csv')  ### UTILIZAR FUNCION
    
    #selecto column interest and parse data to datetime
    column_interest_datetime = ['Dates']
    df_datetime = df_datetime[column_interest_datetime]
    df_datetime['Dates'] = pd.to_datetime(df_datetime['Dates'], format = '%Y-%m-%d')
    
    #open the csv file for each reference
    df_ads_ref = pd.read_csv(path2 + c[i] + '.csv') #quizas debo poner file en vez de c[i]
        
    #data wranggling of this data        
    df_ads_ref['Date'] = pd.to_datetime(df_ads_ref['Date'], format = '%Y-%m-%d')
     
    #merge with df_datetime
    merge_bw = df_ads_ref.merge(df_datetime,
        how='right',
        left_on=['Date'],
        right_on=['Dates'])
        
    #fill NaN values
    merge_bw['Reference'].fillna(method='ffill', inplace = True)
    merge_bw['CatN1'].fillna(method='ffill', inplace = True)
    merge_bw['CatN2'].fillna(method='ffill', inplace = True)
    merge_bw['Cat_Price'].fillna(method='ffill', inplace = True)
    merge_bw.fillna(0, inplace = True)
    
    #sort values by Dates
    merge_bw = merge_bw.sort_values(by='Dates')
    
    #select required columns
    merge_bw = merge_bw.drop(['Date', 'Unnamed: 0'], axis=1)
    
    #drop duplicates in 'Dates'
    merge_bw['Dates'] = merge_bw['Dates'].drop_duplicates(keep='first')

        
    return merge_bw



#JOIN_DATASET: customize the dataset
def join_dataset(file, path_ads, path_bw, path_page, file_format = '.csv'):
    
    #set directory to open the adwords dataset
    df_ads = pd.read_csv(path_ads + file + file_format, sep=',', error_bad_lines=True)
        
    
    #set directory to open the bw dataset
    #os.chdir(path_bw)
    df_bw = pd.read_csv(path_bw + file + file_format, sep=',', error_bad_lines=True)
        
    
    #set directory to open the page dataset
    df_page = pd.read_csv(path_page + file + file_format, sep=',', error_bad_lines=True)
        
    #merge data
    df_final = df_ads.merge(df_bw,on='Dates').merge(df_page,on='Dates')
    
    return df_final



#ROLLING_DATASET: apply rolling
def rolling_dataset(path, file, file_format = '.csv'):
    
    #open the csv file for each reference
    df_rolling = pd.read_csv(path + file + file_format, sep=',', error_bad_lines=True)

    #select columns
    columns_interest_df = ['Reference', 'CatN1', 'CatN2', 'Cat_Price', 'Dates', 'CPC_medio', 'Impressions', 
                           'Clics', 'Page_Views', 'Cost', 'Conversions', 'All_Conversions', 'Ads_Income', 
                           'Ads_Income_All', 'Net_Incomes', 'Units_sold', 'ROAS_Ads']
    df_rolling = df_rolling[columns_interest_df]
    
    #create CTR column
    df_rolling['CTR'] = df_rolling['Clics'] / df_rolling['Impressions']

    #rolling
    #select columns to rolling
    columns = ['CPC_medio', 'Impressions', 'Clics', 'CTR', 'Page_Views', 'Cost', 'Conversions', 
                       'All_Conversions', 'Ads_Income', 'Ads_Income_All', 'Net_Incomes', 'Units_sold']

    #for loop to apply columns
    for i in range(len(columns)):
        column = columns[i]

    #columns created with rolling
        column1 = columns[i]+'_1w'
        column2 = columns[i]+'_2w'
        column3 = columns[i]+'_3w'
        column4 = columns[i]+'_4w'
            
    #apply rolling in each column
        df_rolling[column1] = round(df_rolling[column].transform(lambda x: x.rolling(7, 1).mean()),2)
        df_rolling[column2] = round(df_rolling[column].transform(lambda x: x.rolling(14, 1).mean()),2)
        df_rolling[column3] = round(df_rolling[column].transform(lambda x: x.rolling(21, 1).mean()),2)
        df_rolling[column4] = round(df_rolling[column].transform(lambda x: x.rolling(28, 1).mean()),2)     
        
    #filter date period
        df_rolling = df_rolling[df_rolling['Dates'] > '2018-09-30']
        

    return df_rolling

---------------------------------------------------------------------------------------------------
<a name='datetime'></a>  
# Datetime Dataframe

An inconvenient of the data selected for this study is "missing date values". 

**¿What does "missing date values" mean?**
<br>It means that there is no information saved in dataset when a reference has not had a transaction for a single date of our period of time selected. 


### FOTO!!!!

**¿Is it possible to develop the project without completing these missing values?**
<br>No, because it is necessary to merge two datasets by this dimension.

**¿How to solve this issue?**
<br>It is created a dataframe for a specific period of time and save it as csv with the purpose of using it to merge the data in a proper way.

In [161]:
#run the python script
%run -i './notebook/date_dataframe.py'

#check the file
#set path
path = '/home/miguel/my_project_python/my_project_env/tfm/shopping'
os.chdir(path)

#load the file
df_datetime = pd.read_csv('./data/raw/datetime/datetime_df.csv')    

#select columns
column_interest_datetime = ['Dates']
df_datetime = df_datetime[column_interest_datetime]

#parse datetime
df_datetime['Dates'] = pd.to_datetime(df_datetime['Dates'], format = '%Y-%m-%d')

In [163]:
df_datetime.head()

       Dates
0 2018-09-03
1 2018-09-04
2 2018-09-05
3 2018-09-06
4 2018-09-07

In [164]:
df.shape

(210, 1)

As we can see, it is correct the information created!

----------------------------------------------------------------------------------------------------
<a name='pageviews'></a>

# Pageviews
In this chapter, it is merged all datasets link to pageviews information in order to create for each top reference a csv file with the following data:
    - Reference
    - Date
    - Pageviews

<a name='open_pageviews'></a>
## Open Pageviews dataset


Firstly, it is read the file required:

In [165]:
#select directory
path_reference_url = './data/customize/top_50/'
path_datetime = './data/raw/datetime/'

#load files
df_reference_url = pd.read_csv(path_reference_url + 'references_url.csv', sep='\t') 

#select columns
column_interest_reference = ['Reference', 'URL']
df_reference_url = df_reference_url[column_interest_reference]

I check the data

In [166]:
df_reference_url.head(5)

   Reference                                                URL
0     122532  /espejo-pie-nordico-blanco-plastico-dormitorio...
1      51148  /consola-3-cajones-y-4-puertas-oriental-rojo-m...
2      51149  /consola-6-cajones-y-2-puertas-oriental-rojo-m...
3      51136  /consola-3-cajones-y-4-puertas-oriental-negro-...
4      51140  /mesilla-de-noche-1-cajon-y-2-puertas-oriental...

<a name='customize_pageviews'></a>
## Customize and save Pageviews dataset

After checking previous dataframe, it is run the function 'pageview_missing_values' to cover the following steps:

- Open a csv file as dataframe
- Clean data from that file (rename columns, parse to datetime, etc.)
- Merge that dataframe with other dataframes
- Fill missing values
- Return the final dataframe

Firstly, it is applied list_function to df_reference_url

In [168]:
c = list_function(df_reference_url['Reference'])

Then, run loop function to apply all steps and save data :

In [169]:
loop_function(pageview_missing_values, c, './data/customize/pageviews/', './data/raw/pageview/')

Applied correctly function: pageview_missing_values

It is check the information gathered

In [170]:
#load file example
pageview_example = pd.read_csv('./data/customize/pageviews/101318.csv', sep=',', error_bad_lines=True)

#head of dataframe
pageview_example.head()

   Unnamed: 0  Reference       Dates  Page_Views
0          98     101318  2018-09-03         0.0
1          99     101318  2018-09-04         0.0
2         100     101318  2018-09-05         0.0
3         101     101318  2018-09-06         0.0
4         102     101318  2018-09-07         0.0

-----------------------------------------------------------------------------------------------------------------
<a name='bw'></a>
# BW
In this chapter, it is merged all datasets link to pageviews information in order to create for each top reference a csv file with the following data:
    - Reference
    - Date
    - Pageviews

<a name='open_bw'></a>
## Open BW dataset
First, it is opened the bw dataset:

In [171]:
#open the file
df_bw = open_bw('BW.xlsx', 'BW', './data/raw/bw/')

#head the file
df_bw.head(5)

,Reference,Name,Date,Net_Incomes,Units_sold
0,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-11,18.93,1
1,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-21,18.93,1
2,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-08,16.08,1
3,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-16,16.08,1
4,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-21,16.08,1

In [172]:
df_bw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37614 entries, 0 to 37613
Data columns (total 5 columns):
Reference      37614 non-null int64
Name           37614 non-null object
Date           37614 non-null datetime64[ns]
Net_Incomes    37614 non-null float64
Units_sold     37614 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.7+ MB

In [173]:
df_bw.shape

(37614, 5)

<a name='customize_bw'></a>
## Customize and save BW dataset

In this section, it is going to be developed following steps to create a csv file which contains BW information for each item of this study:
    - Create a dataframe dictionary
    - Read top 50 file and select column of interest
    - Run a loop to apply the function required for each reference
    - Check the information saved

In [21]:
#apply string format
df_bw['Reference'] = df_bw['Reference'].apply(str)

#create unique list of names
referencess = df_bw['Reference'].unique().tolist()

#create a data frame dictionary to store your data frames
DataFrameDict = {elem : pd.DataFrame for elem in referencess}

#loop 
for key in DataFrameDict.keys():
    DataFrameDict[key] = df_bw[:][df_bw.Reference == key]

I use a reference id as example to check if it is working correctly

In [22]:
DataFrameDict['4623']

,Reference,Name,Date,Net_Incomes,Units_sold
0,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-11,18.93,1
1,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-21,18.93,1
2,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-08,16.08,1
3,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-16,16.08,1
4,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-21,16.08,1

After that, open top_50 dataset

In [24]:
#set directory
path = './data/customize/top_50/'

#open the file 'top_50'
df_top_50 = pd.read_csv(path+'references_url.csv', sep='\t')

#select columns
column_interest_reference = ['Reference']
df_top_50 = df_top_50[column_interest_reference]

In [25]:
df_top_50.head()

   Reference
0     122532
1      51148
2      51149
3      51136
4      51140

In [26]:
df_top_50.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 1 columns):
Reference    50 non-null int64
dtypes: int64(1)
memory usage: 480.0 bytes

I create another list using last dataset (I apply string to "Reference" column as I have also made before)

In [36]:
c = list_function(df_top_50['Reference'])

Apply loop function for this case

In [29]:
loop_function(c, c, './data/customize/bw/')

Function applied correctly

Check the saved data

In [30]:
df_101318 = pd.read_csv('./data/customize/bw/101318.csv', sep=',', error_bad_lines=True)
df_101318.head()

,Unnamed: 0,Reference,Name,Date,Net_Incomes,Units_sold
0,21074,101318,SILLA MARRÓN PU/METAL SALÓN,2017-10-05,151.53,3
1,21075,101318,SILLA MARRÓN PU/METAL SALÓN,2017-10-12,118.85,2
2,21076,101318,SILLA MARRÓN PU/METAL SALÓN,2017-10-15,202.05,4
3,21077,101318,SILLA MARRÓN PU/METAL SALÓN,2018-02-06,44.55,1
4,21078,101318,SILLA MARRÓN PU/METAL SALÓN,2018-02-22,237.69,4

After that, it is run the function "bw_missing_values":

In [41]:
loop_function(bw_missing_values, c, './data/customize/merge_bw_datetime/', './data/raw/datetime/', './data/customize/bw/')

Applied correctly function: bw_missing_values

Check the data:

In [42]:
df_101318 = pd.read_csv('./data/customize/merge_bw_datetime/101318.csv', sep=',', error_bad_lines=True)
df_101318.head()

,Unnamed: 0,Reference,Name,Dates,Net_Incomes,Units_sold
0,41,123760.0,ESTANTERÍA 4 LEJAS Y 1 CAJÓN,2018-09-03,0.0,0.0
1,42,123760.0,ESTANTERÍA 4 LEJAS Y 1 CAJÓN,2018-09-04,0.0,0.0
2,43,123760.0,ESTANTERÍA 4 LEJAS Y 1 CAJÓN,2018-09-05,0.0,0.0
3,44,123760.0,ESTANTERÍA 4 LEJAS Y 1 CAJÓN,2018-09-06,0.0,0.0
4,45,123760.0,ESTANTERÍA 4 LEJAS Y 1 CAJÓN,2018-09-07,0.0,0.0

-----------------------------------------------------------------------------------------------------------
<a name='adwords'></a>

# Adwords

In this chapter, it is developed with adwords data the following steps:
    - Load the required datasets.
    - Concatenate these datasets into one main dataset
    - Customize data (rename, select columns, etc.)
    - Select specific references and their data from previous dataset.
    - Split the main dataframe into multiple dataframes (a dataframe per reference)
    - Merge multiples dataframes with "datatime_df"
    - Save multiples dataframes correctly as csv files

<a name='open_adwords'></a>

## Open Adwords dataset

It is opened adwords data:
- TFM_Datos_2017_18_2.csv: advertising data from 05-02-2018 to 30-09-2018
- TFM_Datos_2018_19.csv: advertising data from 01-10-2018 to 30-03-2019

In [46]:
#format extension
extension = 'csv'

#find filenames
all_filenames = [i for i in glob.glob('./data/raw/adwords/*.{}'.format(extension))]

#combine all files in the list
df_adwords = pd.concat([pd.read_csv(f, sep=";", error_bad_lines=True) for f in all_filenames])

Check the dataframe

In [48]:
df_adwords.head(5)

,ID de producto,Campaña,ID de la campaña,Tipo de producto (primer nivel),Tipo de producto (segundo nivel),Día,Etiqueta personalizada 1,CPC máximo predeterminado del grupo de anuncios,Moneda,Impresiones,Clics,CTR,CPC medio,Coste,Conversiones,Todas las conversiones,Valor de conv.,Valor de todas las conversiones,Valor conv./coste
0,123624,Shop_Cocina y comedor_N1_Y18_W37,1559515409,cocina y comedor,tazas de café y mugs,12/10/2018,10,"0,15",EUR,1,0,"0,00 %","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
1,107553,Shop_Smart_Lámparas_Y18_W45,1623248621,lámparas e iluminación,lámparas de techo,31/01/2019,40,"0,01",EUR,2,0,"0,00 %","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
2,87810,Shop_Navidad_Estrellas de navidad_Y18_W12,1323457572,decoración de navidad,estrellas de navidad,17/10/2018,20,"0,2",EUR,1,0,"0,00 %","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
3,105114,Shop_Decoración_N1_Y18_W37,1559890739,decoración para tu casa,figuras decorativas,25/10/2018,30,"0,15",EUR,4,0,"0,00 %","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
4,111017,Shop_Navidad_Portavelas navideños_Y18_W12,1323682318,decoración de navidad,portavelas navideños,21/10/2018,20,"0,2",EUR,8,0,"0,00 %","0,00","0,00","0,00","0,00","0,00","0,00","0,00"

In [49]:
df_adwords.shape

(1026615, 19)

In [50]:
df_adwords.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1026615 entries, 0 to 579075
Data columns (total 19 columns):
ID de producto                                     1026615 non-null int64
Campaña                                            1026615 non-null object
ID de la campaña                                   1026615 non-null int64
Tipo de producto (primer nivel)                    1026615 non-null object
Tipo de producto (segundo nivel)                   1026615 non-null object
Día                                                1026615 non-null object
Etiqueta personalizada 1                           1026615 non-null object
CPC máximo predeterminado del grupo de anuncios    1026615 non-null object
Moneda                                             1026615 non-null object
Impresiones                                        1026615 non-null int64
Clics                                              1026615 non-null int64
CTR                                                1026615 non-null object
CPC medio                                          1026615 non-null object
Coste                                              1026615 non-null object
Conversiones                                       1026615 non-null object
Todas las conversiones                             1026615 non-null object
Valor de conv.                                     1026615 non-null object
Valor de todas las conversiones                    1026615 non-null object
Valor conv./coste                                  1026615 non-null object
dtypes: int64(4), object(15)
memory usage: 156.6+ MB

<a name='customize_adwords'></a>

## Customize Adwords dataset

In this chapter, it is customized the dataset in order to:
    - Select columns of interest
    - Rename columns
    - Change data to correct format

Firstly, check the current columns of the dataset

In [51]:
df_adwords.columns

Index(['ID de producto', 'Campaña', 'ID de la campaña',
       'Tipo de producto (primer nivel)', 'Tipo de producto (segundo nivel)',
       'Día', 'Etiqueta personalizada 1',
       'CPC máximo predeterminado del grupo de anuncios', 'Moneda',
       'Impresiones', 'Clics', 'CTR', 'CPC medio', 'Coste', 'Conversiones',
       'Todas las conversiones', 'Valor de conv.',
       'Valor de todas las conversiones', 'Valor conv./coste'],
      dtype='object')

Then, customize the dataset

In [52]:
#rename columns
df_adwords = df_adwords.rename(index=str, 
            columns={'ID de producto':'Reference', 'Tipo de producto (primer nivel)': 'CatN1',
                     'Tipo de producto (segundo nivel)':'CatN2', 'Día':'Date', 'Etiqueta personalizada 1': 'Cat_Price', 
                     'CPC máximo predeterminado del grupo de anuncios': 'CPC_max', 'CPC medio': 'CPC_medio', 
                     'Impresiones':'Impressions', 'Coste':'Cost', 'Conversiones': 'Conversions',
                    'Todas las conversiones': 'All_Conversions', 'Valor de conv.': 'Ads_Income', 
                    'Valor de todas las conversiones': 'Ads_Income_All', 'Valor conv./coste': 'ROAS_Ads'})


#select columns of interest
column_interest_adwords = ['Reference', 'CatN1', 'CatN2', 'Date', 'Cat_Price', 'CPC_medio', 'Impressions', 
                           'Clics', 'Cost', 'Conversions', 'All_Conversions', 'Ads_Income', 'Ads_Income_All',
                          'ROAS_Ads']
df_adwords = df_adwords[column_interest_adwords]

#Change reference value from int to string in order to save references id as list later
df_adwords['Reference'] = df_adwords['Reference'].apply(str)

#Parse time to 'Date' column
df_adwords['Date'] = pd.to_datetime(df_adwords['Date'], format = '%d/%m/%Y')

#Change to float type
#float_columns = ['CPC_medio', 'Cost', 'Conversions', 'All_Conversions', 'Ads_Income', 'Ads_Income_All']
#df_adwords['CPC_max'] = df_adwords['CPC_max'].str.replace(',','.').astype(float)
df_adwords['CPC_medio'] = df_adwords['CPC_medio'].str.replace(',','.').astype(float)
df_adwords['Cost'] = df_adwords['Cost'].str.replace(',','.').astype(float)
df_adwords['Conversions'] = df_adwords['Conversions'].str.replace(',','.').astype(float)
df_adwords['All_Conversions'] = df_adwords['All_Conversions'].str.replace(',','.').astype(float)
df_adwords['Ads_Income'] = df_adwords['Ads_Income'].str.replace(',','.').astype(float)
df_adwords['Ads_Income_All'] = df_adwords['Ads_Income_All'].str.replace(',','.').astype(float)
df_adwords['ROAS_Ads'] = df_adwords['ROAS_Ads'].str.replace('.','').str.replace(',','.').astype(float)

Check data again

In [53]:
df_adwords.head(5)

,Reference,CatN1,CatN2,Date,Cat_Price,CPC_medio,Impressions,Clics,Cost,Conversions,All_Conversions,Ads_Income,Ads_Income_All,ROAS_Ads
0,123624,cocina y comedor,tazas de café y mugs,2018-10-12,10,0.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0
1,107553,lámparas e iluminación,lámparas de techo,2019-01-31,40,0.0,2,0,0.0,0.0,0.0,0.0,0.0,0.0
2,87810,decoración de navidad,estrellas de navidad,2018-10-17,20,0.0,1,0,0.0,0.0,0.0,0.0,0.0,0.0
3,105114,decoración para tu casa,figuras decorativas,2018-10-25,30,0.0,4,0,0.0,0.0,0.0,0.0,0.0,0.0
4,111017,decoración de navidad,portavelas navideños,2018-10-21,20,0.0,8,0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
df_adwords.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026615 entries, 0 to 579075
Data columns (total 14 columns):
Reference          1026615 non-null object
CatN1              1026615 non-null object
CatN2              1026615 non-null object
Date               1026615 non-null datetime64[ns]
Cat_Price          1026615 non-null object
CPC_medio          1026615 non-null float64
Impressions        1026615 non-null int64
Clics              1026615 non-null int64
Cost               1026615 non-null float64
Conversions        1026615 non-null float64
All_Conversions    1026615 non-null float64
Ads_Income         1026615 non-null float64
Ads_Income_All     1026615 non-null float64
ROAS_Ads           1026615 non-null float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(4)
memory usage: 117.5+ MB

In [55]:
df_adwords.shape

(1026615, 14)

<a name='merge_ads'></a>

## Merge Adwords dataset

It is merge adwords dataset with top_50 file by "Reference": this will reduce the size of the dataset and will also permit to split the information for each reference later

In [64]:
#df_top_50 to string
df_top_50['Reference'] = df_top_50['Reference'].apply(str)

#merge with adwords dataset
merge_adwords = df_adwords.merge(df_top_50,
    how='right',
    left_on=['Reference'],
    right_on=['Reference'])

In [65]:
merge_adwords.shape

(14627, 14)

In [66]:
reduction = round(df_adwords.shape[0]/merge_adwords.shape[0],0)

print("The dataset has been reduced by {} times".format(reduction))

The dataset has been reduced by 70.0 times

After simplifying the dataset, it is leaner splitting the dataset into multiple dataframes

In [67]:
#Create unique list of names
references = merge_adwords['Reference'].unique().tolist()

#Create a dataframe dictionary to store your data frames
DataFrameDict = {elem : pd.DataFrame for elem in references}

#Create a loop for to read all rows and save according to the key
for key in DataFrameDict.keys():
    DataFrameDict[key] = merge_adwords[:][merge_adwords.Reference == key]

Use a reference id as example to check its functionality

In [68]:
DataFrameDict['101318']

,Reference,CatN1,CatN2,Date,Cat_Price,CPC_medio,Impressions,Clics,Cost,Conversions,All_Conversions,Ads_Income,Ads_Income_All,ROAS_Ads
7650,101318,muebles,sillas,2018-12-13,80,0.37,3313,17,6.36,0.00,0.00,0.00,0.00,0.00
7651,101318,muebles,sillas,2018-12-03,80,0.41,2677,12,4.91,0.00,0.00,0.00,0.00,0.00
7652,101318,muebles,sillas,2018-11-21,80,0.61,4851,40,24.43,0.69,2.19,25.27,173.07,1.03
7653,101318,muebles,sillas,2018-12-17,80,0.35,4946,14,4.96,0.00,0.00,0.00,0.00,0.00
7654,101318,muebles,sillas,2019-01-13,80,0.44,6457,36,15.95,0.00,0.00,0.00,0.00,0.00
7655,101318,muebles,sillas,2018-12-06,80,0.43,2072,19,8.21,0.00,0.00,0.00,0.00,0.00
7656,101318,muebles,sillas,2018-12-18,80,0.42,3340,22,9.22,0.00,0.00,0.00,0.00,0.00
7657,101318,muebles,sillas,2019-01-09,80,0.42,5945,40,16.89,1.00,2.00,64.70,129.40,3.83
7658,101318,muebles,sillas,2018-11-12,80,0.37,4845,37,13.61,0.00,0.00,0.00,0.00,0.00
7659,101318,muebles,sillas,2018-12-08,80,0.37,2362,29,10.59,0.40,0.80,53.77,107.61,5.08
7660,101318,muebles,sillas,2018-11-30,80,0.41,1871,13,5.30,0.00,0.00,0.00,0.00,0.00
7661,101318,muebles,sillas,2018-12-24,80,0.40,2557,21,8.50,0.00,0.00,0.00,0.00,0.00
7662,101318,muebles,sillas,2018-10-17,80,0.36,3628,24,8.55,0.00,1.00,0.00,0.00,0.00
7663,101318,muebles,sillas,2018-12-12,80,0.39,2563,23,8.88,0.00,0.00,0.00,0.00,0.00
7664,101318,muebles,sillas,2018-12-19,80,0.38,3240,29,11.08,0.17,0.17,43.13,43.13,3.89
7665,101318,muebles,sillas,2018-10-12,80,0.32,2101,26,8.37,0.00,0.00,0.00,0.00,0.00
7666,101318,muebles,sillas,2019-01-31,80,0.30,5,1,0.30,0.00,0.00,0.00,0.00,0.00
7667,101318,muebles,sillas,2018-11-23,80,0.66,4474,26,17.13,1.00,2.00,66.70,133.40,3.89
7668,101318,muebles,sillas,2019-01-02,80,0.49,2422,11,5.42,0.00,0.00,0.00,0.00,0.00
7669,101318,muebles,sillas,2018-12-26,80,0.36,5654,26,9.49,0.00,0.00,0.00,0.00,0.00
7670,101318,muebles,sillas,2018-12-04,80,0.36,1668,16,5.80,0.00,0.00,0.00,0.00,0.00
7671,101318,muebles,sillas,2018-12-20,80,0.42,3453,21,8.77,0.00,0.00,0.00,0.00,0.00
7672,101318,muebles,sillas,2018-12-22,80,0.47,3652,23,10.84,0.00,0.00,0.00,0.00,0.00
7673,101318,muebles,sillas,2018-12-11,80,0.40,3352,22,8.81,0.00,0.00,0.00,0.00,0.00
7674,101318,muebles,sillas,2018-11-06,80,0.36,4489,30,10.87,0.00,3.00,0.00,0.00,0.00
7675,101318,muebles,sillas,2018-12-28,80,0.37,5163,37,13.77,0.00,0.00,0.00,0.00,0.00
7676,101318,muebles,sillas,2019-01-10,80,0.38,5601,32,12.00,0.65,1.13,63.84,78.15,5.32
7677,101318,muebles,sillas,2018-10-29,80,0.37,2983,17,6.36,0.12,0.12,3.24,3.24,0.51
7678,101318,muebles,sillas,2018-11-25,80,0.77,5855,56,42.97,0.00,0.00,0.00,0.00,0.00
7679,101318,muebles,sillas,2019-01-16,80,0.40,9275,59,23.58,1.82,3.27,437.03,780.60,18.53
7680,101318,muebles,sillas,2018-10-11,80,0.36,1503,12,4.33,0.00,1.00,0.00,0.00,0.00
7681,101318,muebles,sillas,2019-01-03,80,0.40,2435,21,8.47,1.00,2.50,110.60,369.40,13.06
7682,101318,muebles,sillas,2018-11-29,80,0.42,1852,6,2.53,0.00,0.00,0.00,0.00,0.00
7683,101318,muebles,sillas,2018-11-11,80,0.36,6988,53,19.21,0.00,0.00,0.00,0.00,0.00
7684,101318,muebles,sillas,2019-01-06,80,0.40,4748,31,12.26,0.00,0.00,0.00,0.00,0.00
7685,101318,muebles,sillas,2018-12-05,80,0.37,1665,7,2.61,0.00,0.00,0.00,0.00,0.00
7686,101318,muebles,sillas,2018-10-28,80,0.37,5417,36,13.32,0.62,0.71,156.09,183.57,11.72
7687,101318,muebles,sillas,2018-10-14,80,0.33,3859,26,8.57,0.00,1.00,0.00,0.00,0.00
7688,101318,muebles,sillas,2019-01-08,80,0.46,3925,38,17.37,0.00,0.00,0.00,0.00,0.00
7689,101318,muebles,sillas,2018-12-01,80,0.37,2201,17,6.34,0.00,0.00,0.00,0.00,0.00
7690,101318,muebles,sillas,2018-12-16,80,0.38,4384,30,11.52,0.00,0.00,0.00,0.00,0.00
7691,101318,muebles,sillas,2018-10-30,80,0.38,3106,23,8.70,0.00,0.00,0.00,0.00,0.00
7692,101318,muebles,sillas,2018-10-15,80,0.33,2972,34,11.25,0.25,2.25,6.48,6.48,0.58
7693,101318,muebles,sillas,2018-10-18,80,0.34,3428,22,7.49,0.00,2.00,0.00,0.00,0.00
7694,101318,muebles,sillas,2019-01-15,80,0.53,6644,44,23.31,0.00,0.00,0.00,0.00,0.00
7695,101318,muebles,sillas,2018-10-20,80,0.35,4031,27,9.51,0.00,0.00,0.00,0.00,0.00
7696,101318,muebles,sillas,2019-01-01,80,0.45,1878,10,4.52,0.00,0.00,0.00,0.00,0.00
7697,101318,muebles,sillas,2018-12-02,80,0.40,3270,12,4.75,0.00,0.00,0.00,0.00,0.00
7698,101318,muebles,sillas,2018-11-17,80,0.46,7063,53,24.40,0.00,0.00,0.00,0.00,0.00
7699,101318,muebles,sillas,2018-11-08,80,0.36,4464,21,7.65,0.00,1.00,0.00,0.00,0.00
7700,101318,muebles,sillas,2018-12-07,80,0.40,2365,14,5.53,0.00,0.00,0.00,0.00,0.00
7701,101318,muebles,sillas,2018-11-07,80,0.38,4676,23,8.68,0.00,1.00,0.00,0.00,0.00
7702,101318,muebles,sillas,2018-11-02,80,0.35,4156,36,12.64,0.52,1.99,115.42,188.07,9.13
7703,101318,muebles,sillas,2018-10-05,80,0.33,2436,21,6.99,0.00,1.00,0.00,0.00,0.00
7704,101318,muebles,sillas,2018-11-01,80,0.36,5034,32,11.58,0.33,2.35,71.90,103.48,6.21
7705,101318,muebles,sillas,2018-11-14,80,0.34,4268,34,11.64,0.20,0.60,77.65,232.96,6.67
7706,101318,muebles,sillas,2018-10-13,80,0.34,3033,27,9.12,0.17,0.17,35.95,35.95,3.94
7707,101318,muebles,sillas,2018-11-05,80,0.34,5169,37,12.76,0.09,1.13,6.54,15.69,0.51
7708,101318,muebles,sillas,2018-12-31,80,0.36,3033,25,8.98,0.00,0.00,0.00,0.00,0.00
7709,101318,muebles,sillas,2018-10-16,80,0.37,3465,18,6.74,0.00,1.00,0.00,0.00,0.00
7710,101318,muebles,sillas,2018-11-16,80,0.44,6020,37,16.28,0.00,0.00,0.00,0.00,0.00
7711,101318,muebles,sillas,2018-10-24,80,0.36,3095,27,9.63,0.00,0.00,0.00,0.00,0.00
7712,101318,muebles,sillas,2019-01-10,80,0.53,1812,13,6.87,0.00,0.00,0.00,0.00,0.00
7713,101318,muebles,sillas,2018-10-10,80,0.36,1808,6,2.18,0.00,0.00,0.00,0.00,0.00
7714,101318,muebles,sillas,2018-11-18,80,0.44,10287,64,28.37,0.00,0.00,0.00,0.00,0.00
7715,101318,muebles,sillas,2018-12-10,80,0.42,2256,19,7.90,0.00,0.00,0.00,0.00,0.00
7716,101318,muebles,sillas,2019-01-11,80,0.43,5829,50,21.56,0.00,0.00,0.00,0.00,0.00
7717,101318,muebles,sillas,2018-10-09,80,0.32,2665,14,4.50,0.00,0.00,0.00,0.00,0.00
7718,101318,muebles,sillas,2018-10-07,80,0.34,3827,30,10.26,0.00,1.00,0.00,0.00,0.00
7719,101318,muebles,sillas,2018-12-25,80,0.40,5371,27,10.86,1.00,2.00,143.80,287.60,13.24
7720,101318,muebles,sillas,2019-01-12,80,0.36,5563,29,10.40,1.37,2.57,228.17,413.21,21.94
7721,101318,muebles,sillas,2018-12-27,80,0.37,5428,33,12.35,0.17,0.17,43.13,43.13,3.49
7722,101318,muebles,sillas,2018-12-30,80,0.42,6245,39,16.51,0.00,0.00,0.00,0.00,0.00
7723,101318,muebles,sillas,2018-11-27,80,0.51,1234,10,5.09,0.00,0.00,0.00,0.00,0.00
7724,101318,muebles,sillas,2018-10-03,80,0.37,1563,11,4.05,0.00,0.00,0.00,0.00,0.00
7725,101318,muebles,sillas,2018-10-31,80,0.36,3095,16,5.74,0.00,0.00,0.00,0.00,0.00
7726,101318,muebles,sillas,2018-11-26,80,0.64,5462,24,15.44,0.33,0.53,215.67,345.07,13.97
7727,101318,muebles,sillas,2018-11-22,80,0.56,4808,32,17.98,0.33,0.73,215.67,474.47,11.99
7728,101318,muebles,sillas,2019-01-14,80,0.44,6734,44,19.36,0.20,0.20,50.32,50.32,2.60
7729,101318,muebles,sillas,2018-11-15,80,0.43,5630,39,16.73,0.38,0.86,37.37,74.76,2.23
7730,101318,muebles,sillas,2018-11-19,80,0.44,7487,56,24.58,1.00,2.00,431.40,819.60,17.55
7731,101318,muebles,sillas,2019-01-04,80,0.37,2570,16,5.98,0.00,0.00,0.00,0.00,0.00
7732,101318,muebles,sillas,2018-10-06,80,0.35,3628,21,7.32,0.00,0.00,0.00,0.00,0.00
7733,101318,muebles,sillas,2018-12-14,80,0.36,2874,28,10.03,0.00,0.00,0.00,0.00,0.00
7734,101318,muebles,sillas,2018-11-13,80,0.35,5101,30,10.55,0.00,0.00,0.00,0.00,0.00
7735,101318,muebles,sillas,2018-12-15,80,0.39,3736,26,10.08,0.00,0.00,0.00,0.00,0.00
7736,101318,muebles,sillas,2018-11-03,80,0.36,5380,42,15.12,0.09,4.11,6.54,8.13,0.43
7737,101318,muebles,sillas,2018-10-25,80,0.36,3207,23,8.28,0.00,0.00,0.00,0.00,0.00
7738,101318,muebles,sillas,2018-10-22,80,0.35,3175,24,8.29,0.00,1.00,0.00,0.00,0.00
7739,101318,muebles,sillas,2018-12-09,80,0.36,2563,18,6.51,0.00,0.00,0.00,0.00,0.00
7740,101318,muebles,sillas,2018-10-23,80,0.35,3436,24,8.48,0.00,2.00,0.00,0.00,0.00
7741,101318,muebles,sillas,2018-11-28,80,0.50,560,5,2.52,0.00,0.00,0.00,0.00,0.00
7742,101318,muebles,sillas,2019-01-05,80,0.37,2490,18,6.65,0.00,0.00,0.00,0.00,0.00
7743,101318,muebles,sillas,2018-11-10,80,0.37,5712,33,12.14,0.00,0.00,0.00,0.00,0.00
7744,101318,muebles,sillas,2018-10-04,80,0.35,1865,13,4.58,0.00,0.00,0.00,0.00,0.00
7745,101318,muebles,sillas,2018-11-09,80,0.37,4373,22,8.06,0.00,0.00,0.00,0.00,0.00
7746,101318,muebles,sillas,2019-01-17,80,0.42,2465,13,5.41,0.00,0.00,0.00,0.00,0.00
7747,101318,muebles,sillas,2018-11-24,80,0.66,5036,28,18.57,0.00,0.00,0.00,0.00,0.00
7748,101318,muebles,sillas,2019-01-07,80,0.37,5910,43,15.88,0.00,0.00,0.00,0.00,0.00
7749,101318,muebles,sillas,2018-10-01,80,0.34,1397,14,4.76,0.00,0.00,0.00,0.00,0.00
7750,101318,muebles,sillas,2018-12-29,80,0.38,6054,40,15.21,1.14,2.18,139.04,271.43,9.14
7751,101318,muebles,sillas,2018-12-23,80,0.39,4895,28,11.04,0.00,0.00,0.00,0.00,0.00
7752,101318,muebles,sillas,2018-10-27,80,0.35,4006,32,11.06,0.09,1.11,6.54,8.13,0.59
7753,101318,muebles,sillas,2018-11-04,80,0.33,7094,48,16.04,1.00,4.00,57.90,115.80,3.61
7754,101318,muebles,sillas,2018-10-21,80,0.38,4250,17,6.50,0.00,0.00,0.00,0.00,0.00
7755,101318,muebles,sillas,2018-10-02,80,0.35,1512,7,2.45,0.00,1.00,0.00,0.00,0.00
7756,101318,muebles,sillas,2018-11-20,80,0.51,5278,30,15.18,0.00,0.00,0.00,0.00,0.00
7757,101318,muebles,sillas,2018-12-21,80,0.38,3101,13,4.97,0.00,0.00,0.00,0.00,0.00
7758,101318,muebles,sillas,2018-10-26,80,0.37,3011,11,4.06,0.17,1.17,35.95,35.95,8.85
7759,101318,muebles,sillas,2018-10-19,80,0.37,3448,13,4.81,0.00,0.00,0.00,0.00,0.00
7760,101318,muebles,sillas,2018-10-08,80,0.35,2230,17,5.95,0.00,0.00,0.00,0.00,0.00
7761,101318,muebles,sillas,2018-07-09,80,0.31,842,8,2.51,0.00,0.00,0.00,0.00,0.00
7762,101318,muebles,sillas,2018-08-01,80,0.35,778,5,1.76,0.00,0.00,0.00,0.00,0.00
7763,101318,muebles,sillas,2018-02-21,80,0.26,172,2,0.52,0.00,0.00,0.00,0.00,0.00
7764,101318,muebles,sillas,2018-05-26,80,0.29,536,10,2.90,0.00,0.00,0.00,0.00,0.00
7765,101318,muebles,sillas,2018-07-17,80,0.33,1310,8,2.63,0.00,1.00,0.00,0.00,0.00
7766,101318,muebles,sillas,2018-07-11,80,0.29,1292,12,3.50,0.00,0.00,0.00,0.00,0.00
7767,101318,muebles,sillas,2018-06-21,80,0.23,697,2,0.46,0.00,0.00,0.00,0.00,0.00
7768,101318,muebles,sillas,2018-09-30,80,0.00,83,0,0.00,0.00,0.00,0.00,0.00,0.00
7769,101318,muebles,sillas,2018-06-26,80,0.28,1295,3,0.85,0.00,0.00,0.00,0.00,0.00
7770,101318,muebles,sillas,2018-04-10,80,0.24,620,5,1.20,0.00,0.00,0.00,0.00,0.00
7771,101318,muebles,sillas,2018-07-05,80,0.22,872,3,0.65,0.00,0.00,0.00,0.00,0.00
7772,101318,muebles,sillas,2018-05-14,80,0.21,341,3,0.62,0.00,0.00,0.00,0.00,0.00
7773,101318,muebles,sillas,2018-03-05,80,0.17,74,1,0.17,0.00,0.00,0.00,0.00,0.00
7774,101318,muebles,sillas,2018-05-11,80,0.24,279,2,0.48,0.00,0.00,0.00,0.00,0.00
7775,101318,muebles,sillas,2018-07-04,80,0.32,1054,3,0.97,0.00,0.00,0.00,0.00,0.00
7776,101318,muebles,sillas,2018-06-12,80,0.25,833,4,1.00,0.00,0.00,0.00,0.00,0.00
7777,101318,muebles,sillas,2018-05-10,80,0.16,433,2,0.31,0.00,0.00,0.00,0.00,0.00
7778,101318,muebles,sillas,2018-07-25,80,0.35,1395,14,4.88,1.00,2.00,67.30,67.30,13.79
7779,101318,muebles,sillas,2018-07-06,80,0.32,753,2,0.63,0.00,0.00,0.00,0.00,0.00
7780,101318,muebles,sillas,2018-04-12,80,0.00,443,0,0.00,0.00,0.00,0.00,0.00,0.00
7781,101318,muebles,sillas,2018-07-24,80,0.36,1676,8,2.86,1.00,2.00,206.50,206.50,72.20
7782,101318,muebles,sillas,2018-03-10,80,0.17,109,1,0.17,0.00,0.00,0.00,0.00,0.00
7783,101318,muebles,sillas,2018-07-01,80,0.38,1063,7,2.65,0.00,0.00,0.00,0.00,0.00
7784,101318,muebles,sillas,2018-05-12,80,0.24,321,4,0.96,0.00,0.00,0.00,0.00,0.00
7785,101318,muebles,sillas,2018-03-11,80,0.17,93,3,0.51,0.00,0.00,0.00,0.00,0.00
7786,101318,muebles,sillas,2018-02-27,80,0.00,65,0,0.00,0.00,0.00,0.00,0.00,0.00
7787,101318,muebles,sillas,2018-02-05,80,0.26,81,1,0.26,0.00,0.00,0.00,0.00,0.00
7788,101318,muebles,sillas,2018-06-05,80,0.29,270,3,0.88,0.00,0.00,0.00,0.00,0.00
7789,101318,muebles,sillas,2018-06-09,80,0.27,800,8,2.14,0.00,0.00,0.00,0.00,0.00
7790,101318,muebles,sillas,2018-06-27,80,0.25,1090,7,1.73,0.00,0.00,0.00,0.00,0.00
7791,101318,muebles,sillas,2018-03-03,80,0.16,56,2,0.32,0.00,0.00,0.00,0.00,0.00
7792,101318,muebles,sillas,2018-02-07,60,0.15,52,2,0.30,0.00,0.00,0.00,0.00,0.00
7793,101318,muebles,sillas,2018-07-18,80,0.34,1338,6,2.02,0.00,0.00,0.00,0.00,0.00
7794,101318,muebles,sillas,2018-06-16,80,0.28,1203,10,2.81,0.00,0.00,0.00,0.00,0.00
7795,101318,muebles,sillas,2018-02-14,60,0.26,263,1,0.26,0.00,0.00,0.00,0.00,0.00
7796,101318,muebles,sillas,2018-02-16,60,0.18,276,2,0.35,0.00,0.00,0.00,0.00,0.00
7797,101318,muebles,sillas,2018-03-09,80,0.17,76,3,0.52,0.00,0.00,0.00,0.00,0.00
7798,101318,muebles,sillas,2018-07-07,80,0.31,841,9,2.76,0.00,0.00,0.00,0.00,0.00
7799,101318,muebles,sillas,2018-06-08,80,0.24,107,3,0.71,0.00,0.00,0.00,0.00,0.00
7800,101318,muebles,sillas,2018-02-13,60,0.14,509,2,0.27,0.00,0.00,0.00,0.00,0.00
7801,101318,muebles,sillas,2018-06-29,80,0.37,642,2,0.74,0.00,0.00,0.00,0.00,0.00
7802,101318,muebles,sillas,2018-03-15,80,0.00,14,0,0.00,0.00,0.00,0.00,0.00,0.00
7803,101318,muebles,sillas,2018-07-14,80,0.28,1394,4,1.13,0.00,0.00,0.00,0.00,0.00
7804,101318,muebles,sillas,2018-03-07,80,0.17,43,1,0.17,0.00,0.00,0.00,0.00,0.00
7805,101318,muebles,sillas,2018-05-13,80,0.24,480,6,1.42,0.00,0.00,0.00,0.00,0.00
7806,101318,muebles,sillas,2018-06-25,80,0.24,1096,11,2.69,0.00,0.00,0.00,0.00,0.00
7807,101318,muebles,sillas,2018-02-05,60,0.00,6,0,0.00,0.00,0.00,0.00,0.00,0.00
7808,101318,muebles,sillas,2018-07-30,80,0.34,2895,8,2.74,0.00,0.00,0.00,0.00,0.00
7809,101318,muebles,sillas,2018-04-01,80,0.19,237,2,0.38,0.00,0.00,0.00,0.00,0.00
7810,101318,muebles,sillas,2018-02-06,80,0.23,38,1,0.23,0.00,0.00,0.00,0.00,0.00
7811,101318,muebles,sillas,2018-06-28,80,0.29,917,2,0.58,0.00,0.00,0.00,0.00,0.00
7812,101318,muebles,sillas,2018-07-29,80,0.32,3052,24,7.57,0.00,0.00,0.00,0.00,0.00
7813,101318,muebles,sillas,2018-02-23,80,0.00,34,0,0.00,0.00,0.00,0.00,0.00,0.00
7814,101318,muebles,sillas,2018-06-13,80,0.23,718,7,1.58,0.00,0.00,0.00,0.00,0.00
7815,101318,muebles,sillas,2018-02-15,60,0.23,118,3,0.69,0.00,0.00,0.00,0.00,0.00
7816,101318,muebles,sillas,2018-07-13,80,0.35,1184,8,2.82,0.00,0.00,0.00,0.00,0.00
7817,101318,muebles,sillas,2018-05-04,80,0.23,394,5,1.17,0.00,0.00,0.00,0.00,0.00
7818,101318,muebles,sillas,2018-04-16,80,0.24,217,2,0.48,0.00,0.00,0.00,0.00,0.00
7819,101318,muebles,sillas,2018-03-01,80,0.24,36,2,0.49,0.00,0.00,0.00,0.00,0.00
7820,101318,muebles,sillas,2018-07-26,80,0.31,1777,9,2.77,0.00,1.00,0.00,0.00,0.00
7821,101318,muebles,sillas,2018-02-09,60,0.17,141,3,0.52,0.00,0.00,0.00,0.00,0.00
7822,101318,muebles,sillas,2018-07-22,80,0.32,2088,9,2.86,0.00,0.00,0.00,0.00,0.00
7823,101318,muebles,sillas,2018-07-15,80,0.31,1422,6,1.85,0.00,0.00,0.00,0.00,0.00
7824,101318,muebles,sillas,2018-02-17,60,0.16,189,2,0.31,0.00,0.00,0.00,0.00,0.00
7825,101318,muebles,sillas,2018-06-30,80,0.38,1063,1,0.38,0.00,0.00,0.00,0.00,0.00
7826,101318,muebles,sillas,2018-06-22,80,0.30,699,4,1.22,0.00,0.00,0.00,0.00,0.00
7827,101318,muebles,sillas,2018-05-08,80,0.24,798,5,1.19,0.00,0.00,0.00,0.00,0.00
7828,101318,muebles,sillas,2018-06-19,80,0.25,1065,8,1.98,0.00,0.00,0.00,0.00,0.00
7829,101318,muebles,sillas,2018-02-20,80,0.00,380,0,0.00,0.00,0.00,0.00,0.00,0.00
7830,101318,muebles,sillas,2018-07-19,80,0.33,1267,4,1.31,0.00,0.00,0.00,0.00,0.00
7831,101318,muebles,sillas,2018-07-08,80,0.24,1064,6,1.47,0.00,0.00,0.00,0.00,0.00
7832,101318,muebles,sillas,2018-05-18,80,0.09,256,3,0.26,0.00,0.00,0.00,0.00,0.00
7833,101318,muebles,sillas,2018-07-31,80,0.38,2294,4,1.50,0.00,0.00,0.00,0.00,0.00
7834,101318,muebles,sillas,2018-03-04,80,0.18,69,4,0.74,0.00,0.00,0.00,0.00,0.00
7835,101318,muebles,sillas,2018-04-04,80,0.25,297,3,0.75,0.00,0.00,0.00,0.00,0.00
7836,101318,muebles,sillas,2018-02-26,80,0.17,88,2,0.34,0.00,0.00,0.00,0.00,0.00
7837,101318,muebles,sillas,2018-03-13,80,0.19,178,3,0.58,0.00,0.00,0.00,0.00,0.00
7838,101318,muebles,sillas,2018-04-02,80,0.25,227,6,1.48,0.00,0.00,0.00,0.00,0.00
7839,101318,muebles,sillas,2018-06-23,80,0.29,839,9,2.58,0.00,0.00,0.00,0.00,0.00
7840,101318,muebles,sillas,2018-04-18,80,0.22,100,1,0.22,0.00,0.00,0.00,0.00,0.00
7841,101318,muebles,sillas,2018-03-08,80,0.25,60,1,0.25,0.00,0.00,0.00,0.00,0.00
7842,101318,muebles,sillas,2018-03-02,80,0.00,48,0,0.00,0.00,0.00,0.00,0.00,0.00
7843,101318,muebles,sillas,2018-04-19,80,0.20,319,4,0.78,0.00,0.00,0.00,0.00,0.00
7844,101318,muebles,sillas,2018-03-06,80,0.18,67,2,0.36,0.00,0.00,0.00,0.00,0.00
7845,101318,muebles,sillas,2018-06-05,80,0.30,203,1,0.30,0.00,0.00,0.00,0.00,0.00
7846,101318,muebles,sillas,2018-04-13,80,0.21,142,3,0.64,0.00,0.00,0.00,0.00,0.00
7847,101318,muebles,sillas,2018-02-25,80,0.17,80,1,0.17,0.00,0.00,0.00,0.00,0.00
7848,101318,muebles,sillas,2018-05-19,80,0.17,274,5,0.84,0.00,0.00,0.00,0.00,0.00
7849,101318,muebles,sillas,2018-06-10,80,0.24,1093,7,1.66,0.00,0.00,0.00,0.00,0.00
7850,101318,muebles,sillas,2018-06-18,80,0.29,1012,8,2.33,0.00,0.00,0.00,0.00,0.00
7851,101318,muebles,sillas,2018-03-14,80,0.18,193,2,0.35,0.00,0.00,0.00,0.00,0.00
7852,101318,muebles,sillas,2018-05-15,80,0.25,218,2,0.50,0.00,0.00,0.00,0.00,0.00
7853,101318,muebles,sillas,2018-02-19,60,0.00,114,0,0.00,0.00,0.00,0.00,0.00,0.00
7854,101318,muebles,sillas,2018-02-18,60,0.17,19,1,0.17,0.00,0.00,0.00,0.00,0.00
7855,101318,muebles,sillas,2018-02-08,60,0.18,134,1,0.18,0.00,0.00,0.00,0.00,0.00
7856,101318,muebles,sillas,2018-05-09,80,0.24,409,6,1.45,0.00,0.00,0.00,0.00,0.00
7857,101318,muebles,sillas,2018-04-23,80,0.00,286,0,0.00,0.00,0.00,0.00,0.00,0.00
7858,101318,muebles,sillas,2018-07-16,80,0.38,1215,4,1.50,0.00,0.00,0.00,0.00,0.00
7859,101318,muebles,sillas,2018-04-25,80,0.25,373,2,0.50,0.00,0.00,0.00,0.00,0.00
7860,101318,muebles,sillas,2018-02-10,60,0.17,190,5,0.87,0.00,0.00,0.00,0.00,0.00
7861,101318,muebles,sillas,2018-06-14,80,0.27,768,5,1.34,0.00,0.00,0.00,0.00,0.00
7862,101318,muebles,sillas,2018-05-20,80,0.22,344,1,0.22,0.00,0.00,0.00,0.00,0.00
7863,101318,muebles,sillas,2018-05-31,80,0.00,4,0,0.00,0.00,0.00,0.00,0.00,0.00
7864,101318,muebles,sillas,2018-07-23,80,0.35,2068,9,3.12,0.00,1.00,0.00,0.00,0.00
7865,101318,muebles,sillas,2018-07-28,80,0.29,2678,22,6.35,1.00,1.00,266.56,266.56,41.98
7866,101318,muebles,sillas,2018-07-21,80,0.31,1684,11,3.37,0.00,1.00,0.00,0.00,0.00
7867,101318,muebles,sillas,2018-02-24,80,0.00,64,0,0.00,0.00,0.00,0.00,0.00,0.00
7868,101318,muebles,sillas,2018-02-12,60,0.16,230,11,1.75,0.00,0.00,0.00,0.00,0.00
7869,101318,muebles,sillas,2018-07-20,80,0.32,1201,5,1.62,0.00,0.00,0.00,0.00,0.00
7870,101318,muebles,sillas,2018-03-12,80,0.17,105,4,0.67,0.00,0.00,0.00,0.00,0.00
7871,101318,muebles,sillas,2018-05-30,80,0.27,384,1,0.27,0.00,0.00,0.00,0.00,0.00
7872,101318,muebles,sillas,2018-05-27,80,0.27,818,10,2.67,0.00,0.00,0.00,0.00,0.00
7873,101318,muebles,sillas,2018-06-17,80,0.29,1264,14,4.10,0.00,1.00,0.00,0.00,0.00
7874,101318,muebles,sillas,2018-05-03,80,0.25,847,3,0.75,0.00,0.00,0.00,0.00,0.00
7875,101318,muebles,sillas,2018-04-07,80,0.25,285,2,0.50,0.00,0.00,0.00,0.00,0.00
7876,101318,muebles,sillas,2018-04-29,80,0.23,255,6,1.39,0.00,0.00,0.00,0.00,0.00
7877,101318,muebles,sillas,2018-02-11,60,0.16,249,8,1.32,1.00,1.00,215.60,215.60,163.33
7878,101318,muebles,sillas,2018-04-28,80,0.24,183,2,0.49,0.00,0.00,0.00,0.00,0.00
7879,101318,muebles,sillas,2018-05-22,80,0.24,190,3,0.71,0.00,0.00,0.00,0.00,0.00
7880,101318,muebles,sillas,2018-07-10,80,0.30,1217,8,2.36,0.00,0.00,0.00,0.00,0.00
7881,101318,muebles,sillas,2018-07-02,80,0.34,969,4,1.34,0.00,1.00,0.00,0.00,0.00
7882,101318,muebles,sillas,2018-04-05,80,0.25,430,2,0.50,0.00,0.00,0.00,0.00,0.00
7883,101318,muebles,sillas,2018-06-03,80,0.28,1092,13,3.70,0.00,0.00,0.00,0.00,0.00
7884,101318,muebles,sillas,2018-04-27,80,0.00,252,0,0.00,0.00,0.00,0.00,0.00,0.00
7885,101318,muebles,sillas,2018-06-20,80,0.23,791,4,0.93,0.00,0.00,0.00,0.00,0.00
7886,101318,muebles,sillas,2018-06-24,80,0.28,1045,5,1.41,0.00,0.00,0.00,0.00,0.00

Later, I load top the csv file "references_url.csv" to use its id values as filters to create the required dataframes per reference.

Then, I create another list using last dataset (I use "Reference" column as I have also made before)

<a name='save_ads'></a>

## Save Adwords dataset

Apply loop_function to create the required dataframes per reference.

In [71]:
loop_function(c, c, './data/customize/adwords/')

Function applied correctly

Check the data created

In [73]:
df_test_ads = pd.read_csv('./data/customize/adwords/101318.csv', sep=',', error_bad_lines=True)

In [74]:
df_test_ads.head(5)

,Unnamed: 0,Reference,CatN1,CatN2,Date,Cat_Price,CPC_medio,Impressions,Clics,Cost,Conversions,All_Conversions,Ads_Income,Ads_Income_All,ROAS_Ads
0,7650,101318,muebles,sillas,2018-12-13,80,0.37,3313,17,6.36,0.00,0.00,0.00,0.00,0.00
1,7651,101318,muebles,sillas,2018-12-03,80,0.41,2677,12,4.91,0.00,0.00,0.00,0.00,0.00
2,7652,101318,muebles,sillas,2018-11-21,80,0.61,4851,40,24.43,0.69,2.19,25.27,173.07,1.03
3,7653,101318,muebles,sillas,2018-12-17,80,0.35,4946,14,4.96,0.00,0.00,0.00,0.00,0.00
4,7654,101318,muebles,sillas,2019-01-13,80,0.44,6457,36,15.95,0.00,0.00,0.00,0.00,0.00

In [75]:
df_test_ads.shape

(284, 15)

In [76]:
df_test_ads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 15 columns):
Unnamed: 0         284 non-null int64
Reference          284 non-null int64
CatN1              284 non-null object
CatN2              284 non-null object
Date               284 non-null object
Cat_Price          284 non-null int64
CPC_medio          284 non-null float64
Impressions        284 non-null int64
Clics              284 non-null int64
Cost               284 non-null float64
Conversions        284 non-null float64
All_Conversions    284 non-null float64
Ads_Income         284 non-null float64
Ads_Income_All     284 non-null float64
ROAS_Ads           284 non-null float64
dtypes: float64(7), int64(5), object(3)
memory usage: 33.4+ KB

After that, apply the previous function using a for loop

In [77]:
loop_function(ads_missing_values, c, './data/customize/merge_ads_datetime/', './data/raw/datetime/', './data/customize/adwords/')

Applied correctly function: ads_missing_values

Finally, I check the data obtained

In [78]:
df_122335 = pd.read_csv('./data/customize/merge_ads_datetime/122335.csv', sep=',', error_bad_lines=True)
df_122335.head(5)

,Unnamed: 0,Reference,CatN1,CatN2,Cat_Price,CPC_medio,Impressions,Clics,Cost,Conversions,All_Conversions,Ads_Income,Ads_Income_All,ROAS_Ads,Dates
0,187,123760.0,muebles,estanterías y librerías,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-09-03
1,188,123760.0,muebles,estanterías y librerías,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-09-04
2,189,123760.0,muebles,estanterías y librerías,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-09-05
3,190,123760.0,muebles,estanterías y librerías,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-09-06
4,191,123760.0,muebles,estanterías y librerías,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-09-07

In [79]:
df_122335.shape

(236, 15)

In [174]:
df_122335.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 67 columns):
Unnamed: 0            182 non-null int64
Reference             182 non-null int64
CatN1                 182 non-null object
CatN2                 182 non-null object
Cat_Price             182 non-null float64
Dates                 182 non-null object
CPC_medio             182 non-null float64
Impressions           182 non-null float64
Clics                 182 non-null float64
Page_Views            182 non-null float64
Cost                  182 non-null float64
Conversions           182 non-null float64
All_Conversions       182 non-null float64
Ads_Income            182 non-null float64
Ads_Income_All        182 non-null float64
Net_Incomes           182 non-null float64
Units_sold            182 non-null float64
ROAS_Ads              182 non-null float64
CTR                   156 non-null float64
CPC_medio_1w          182 non-null float64
CPC_medio_2w          182 non-null float64
CPC_medio_3w          182 non-null float64
CPC_medio_4w          182 non-null float64
Impressions_1w        182 non-null float64
Impressions_2w        182 non-null float64
Impressions_3w        182 non-null float64
Impressions_4w        182 non-null float64
Clics_1w              182 non-null float64
Clics_2w              182 non-null float64
Clics_3w              182 non-null float64
Clics_4w              182 non-null float64
CTR_1w                162 non-null float64
CTR_2w                169 non-null float64
CTR_3w                176 non-null float64
CTR_4w                182 non-null float64
Page_Views_1w         182 non-null float64
Page_Views_2w         182 non-null float64
Page_Views_3w         182 non-null float64
Page_Views_4w         182 non-null float64
Cost_1w               182 non-null float64
Cost_2w               182 non-null float64
Cost_3w               182 non-null float64
Cost_4w               182 non-null float64
Conversions_1w        182 non-null float64
Conversions_2w        182 non-null float64
Conversions_3w        182 non-null float64
Conversions_4w        182 non-null float64
All_Conversions_1w    182 non-null float64
All_Conversions_2w    182 non-null float64
All_Conversions_3w    182 non-null float64
All_Conversions_4w    182 non-null float64
Ads_Income_1w         182 non-null float64
Ads_Income_2w         182 non-null float64
Ads_Income_3w         182 non-null float64
Ads_Income_4w         182 non-null float64
Ads_Income_All_1w     182 non-null float64
Ads_Income_All_2w     182 non-null float64
Ads_Income_All_3w     182 non-null float64
Ads_Income_All_4w     182 non-null float64
Net_Incomes_1w        182 non-null float64
Net_Incomes_2w        182 non-null float64
Net_Incomes_3w        182 non-null float64
Net_Incomes_4w        182 non-null float64
Units_sold_1w         182 non-null float64
Units_sold_2w         182 non-null float64
Units_sold_3w         182 non-null float64
Units_sold_4w         182 non-null float64
dtypes: float64(62), int64(2), object(3)
memory usage: 95.3+ KB

<a name='final'></a>

# Final Dataset
===

In this notebook, it is going to be merged all data created in previous chapters as one main dataset.

# PONER DIBUJO DE LO QUE VOY A HACER

<a name='join'></a>

## Joining Dataset

Join and save the dataset from BW, adwords and pageviews per each item

In [94]:
loop_function(join_dataset, c, './data/customize/merge_all/', './data/customize/merge_ads_datetime/', 
              './data/customize/merge_bw_datetime/', './data/customize/pageviews/')

Applied correctly function: final_dataset

Check the data

In [99]:
df_122335 = pd.read_csv('./data/customize/merge_all/122335.csv', sep=",", error_bad_lines=True)
df_122335.head(5)

,Unnamed: 0,Unnamed: 0_x,Reference_x,CatN1,CatN2,Cat_Price,CPC_medio,Impressions,Clics,Cost,Conversions,All_Conversions,Ads_Income,Ads_Income_All,ROAS_Ads,Dates,Unnamed: 0_y,Reference_y,Name,Net_Incomes,Units_sold,Unnamed: 0.1,Reference,Page_Views
0,0,187,123760.0,muebles,estanterías y librerías,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-09-03,41,123760.0,ESTANTERÍA 4 LEJAS Y 1 CAJÓN,0.0,0.0,0,122335,9.0
1,1,188,123760.0,muebles,estanterías y librerías,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-09-04,42,123760.0,ESTANTERÍA 4 LEJAS Y 1 CAJÓN,0.0,0.0,87,122335,0.0
2,2,189,123760.0,muebles,estanterías y librerías,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-09-05,43,123760.0,ESTANTERÍA 4 LEJAS Y 1 CAJÓN,0.0,0.0,88,122335,0.0
3,3,190,123760.0,muebles,estanterías y librerías,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-09-06,44,123760.0,ESTANTERÍA 4 LEJAS Y 1 CAJÓN,0.0,0.0,1,122335,19.0
4,4,191,123760.0,muebles,estanterías y librerías,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-09-07,45,123760.0,ESTANTERÍA 4 LEJAS Y 1 CAJÓN,0.0,0.0,2,122335,9.0

In [100]:
df_122335.columns

Index(['Unnamed: 0', 'Unnamed: 0_x', 'Reference_x', 'CatN1', 'CatN2',
       'Cat_Price', 'CPC_medio', 'Impressions', 'Clics', 'Cost', 'Conversions',
       'All_Conversions', 'Ads_Income', 'Ads_Income_All', 'ROAS_Ads', 'Dates',
       'Unnamed: 0_y', 'Reference_y', 'Name', 'Net_Incomes', 'Units_sold',
       'Unnamed: 0.1', 'Reference', 'Page_Views'],
      dtype='object')

In [104]:
df_122335.shape

(210, 24)

In [102]:
df_122335.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 24 columns):
Unnamed: 0         210 non-null int64
Unnamed: 0_x       210 non-null int64
Reference_x        210 non-null float64
CatN1              210 non-null object
CatN2              210 non-null object
Cat_Price          210 non-null float64
CPC_medio          210 non-null float64
Impressions        210 non-null float64
Clics              210 non-null float64
Cost               210 non-null float64
Conversions        210 non-null float64
All_Conversions    210 non-null float64
Ads_Income         210 non-null float64
Ads_Income_All     210 non-null float64
ROAS_Ads           210 non-null float64
Dates              210 non-null object
Unnamed: 0_y       210 non-null int64
Reference_y        210 non-null float64
Name               210 non-null object
Net_Incomes        210 non-null float64
Units_sold         210 non-null float64
Unnamed: 0.1       210 non-null int64
Reference          210 non-null int64
Page_Views         210 non-null float64
dtypes: float64(15), int64(5), object(4)
memory usage: 39.5+ KB

<a name='rolling'></a>

## Rolling Dataset

Apply rolling function with the purpose of adding the requires stational information for specific columns.

There will be added data for rolling:
    - 1w: 1 week
    - 2w: 2 weeks
    - 3w: 3 weeks
    - 4w: 4 weeks

In [118]:
loop_function(rolling_dataset, c, './data/customize/rolling_dataset/', './data/customize/merge_all/')

Applied correctly function: rolling_dataset

Check the data for one item example

In [119]:
df_122335 = pd.read_csv('./data/customize/rolling_dataset/122335.csv', sep=',', error_bad_lines=True)
df_122335.head(5)

,Unnamed: 0,Reference,CatN1,CatN2,Cat_Price,Dates,CPC_medio,Impressions,Clics,Page_Views,Cost,Conversions,All_Conversions,Ads_Income,Ads_Income_All,Net_Incomes,Units_sold,ROAS_Ads,CTR,CPC_medio_1w,CPC_medio_2w,CPC_medio_3w,CPC_medio_4w,Impressions_1w,Impressions_2w,Impressions_3w,Impressions_4w,Clics_1w,Clics_2w,Clics_3w,Clics_4w,CTR_1w,CTR_2w,CTR_3w,CTR_4w,Page_Views_1w,Page_Views_2w,Page_Views_3w,Page_Views_4w,Cost_1w,Cost_2w,Cost_3w,Cost_4w,Conversions_1w,Conversions_2w,Conversions_3w,Conversions_4w,All_Conversions_1w,All_Conversions_2w,All_Conversions_3w,All_Conversions_4w,Ads_Income_1w,Ads_Income_2w,Ads_Income_3w,Ads_Income_4w,Ads_Income_All_1w,Ads_Income_All_2w,Ads_Income_All_3w,Ads_Income_All_4w,Net_Incomes_1w,Net_Incomes_2w,Net_Incomes_3w,Net_Incomes_4w,Units_sold_1w,Units_sold_2w,Units_sold_3w,Units_sold_4w
0,28,122335,muebles,estanterías y librerías,150.0,2018-10-01,0.23,1021.0,12.0,0.0,2.78,0.00,1.00,0.00,0.00,0.00,0.0,0.00,0.011753,0.20,0.10,0.07,0.05,1021.00,1021.00,1021.00,1021.00,12.00,12.00,12.00,12.00,0.01,0.01,0.01,0.01,0.0,0.0,0.0,0.0,2.78,2.78,2.78,2.78,0.00,0.00,0.00,0.00,1.00,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,29,122335,muebles,estanterías y librerías,150.0,2018-10-02,0.16,830.0,7.0,0.0,1.11,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.008434,0.22,0.11,0.07,0.05,925.50,925.50,925.50,925.50,9.50,9.50,9.50,9.50,0.01,0.01,0.01,0.01,0.0,0.0,0.0,0.0,1.94,1.94,1.94,1.94,0.00,0.00,0.00,0.00,0.50,0.50,0.50,0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30,122335,muebles,estanterías y librerías,150.0,2018-10-03,0.29,1059.0,6.0,0.0,1.72,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.005666,0.22,0.13,0.09,0.06,970.00,970.00,970.00,970.00,8.33,8.33,8.33,8.33,0.01,0.01,0.01,0.01,0.0,0.0,0.0,0.0,1.87,1.87,1.87,1.87,0.00,0.00,0.00,0.00,0.33,0.33,0.33,0.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31,122335,muebles,estanterías y librerías,150.0,2018-10-04,0.24,1517.0,15.0,0.0,3.65,0.67,4.67,66.54,66.54,0.00,0.0,18.23,0.009888,0.22,0.15,0.10,0.07,1106.75,1106.75,1106.75,1106.75,10.00,10.00,10.00,10.00,0.01,0.01,0.01,0.01,0.0,0.0,0.0,0.0,2.32,2.32,2.32,2.32,0.17,0.17,0.17,0.17,1.42,1.42,1.42,1.42,16.64,16.64,16.64,16.64,16.64,16.64,16.64,16.64,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,32,122335,muebles,estanterías y librerías,150.0,2018-10-05,0.00,45.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,82.49,1.0,0.00,0.000000,0.19,0.15,0.10,0.07,894.40,894.40,894.40,894.40,8.00,8.00,8.00,8.00,0.01,0.01,0.01,0.01,0.0,0.0,0.0,0.0,1.85,1.85,1.85,1.85,0.13,0.13,0.13,0.13,1.13,1.13,1.13,1.13,13.31,13.31,13.31,13.31,13.31,13.31,13.31,13.31,16.5,16.5,16.5,16.5,0.2,0.2,0.2,0.2

In [121]:
df_122335.shape

(182, 67)

<a name='save_final'></a>

## Concat and save Final Dataset
Finally, it is:
    - Concatenated all the files created in the previous section
    - Customize the dataframe
    - Save in the right folder

In [ ]:
# SIGUIENTE PASOS:
- 1)SELECCIONAR COLUMNAS QUE QUEREMOS > OK
- 2)HACER ROLLING (Y JUSTIFICAR) > FALTA JUSTIFICAR
- 3)CREAR COLUMNAS (CTR, ETC) >OK
- 4)REVISAR TODO OK >OK
- 5)CONCATENAR TODOS LOS FILES
- 6)FILTRAR POR ROAS, PAGEVIEWS E IMPRESION>0 y QUITAR DATES
- 7)COMPROBAR TODO OK
- 8)GUARDAR

In [139]:
#format extension
extension = 'csv'

#find filenames
all_filenames = [i for i in glob.glob('./data/customize/rolling_dataset/*.{}'.format(extension))]

#combine all files in the list
df = pd.concat([pd.read_csv(f, sep=',', error_bad_lines=True) for f in all_filenames])

In [140]:
df.head()

,Unnamed: 0,Reference,CatN1,CatN2,Cat_Price,Dates,CPC_medio,Impressions,Clics,Page_Views,Cost,Conversions,All_Conversions,Ads_Income,Ads_Income_All,Net_Incomes,Units_sold,ROAS_Ads,CTR,CPC_medio_1w,CPC_medio_2w,CPC_medio_3w,CPC_medio_4w,Impressions_1w,Impressions_2w,Impressions_3w,Impressions_4w,Clics_1w,Clics_2w,Clics_3w,Clics_4w,CTR_1w,CTR_2w,CTR_3w,CTR_4w,Page_Views_1w,Page_Views_2w,Page_Views_3w,Page_Views_4w,Cost_1w,Cost_2w,Cost_3w,Cost_4w,Conversions_1w,Conversions_2w,Conversions_3w,Conversions_4w,All_Conversions_1w,All_Conversions_2w,All_Conversions_3w,All_Conversions_4w,Ads_Income_1w,Ads_Income_2w,Ads_Income_3w,Ads_Income_4w,Ads_Income_All_1w,Ads_Income_All_2w,Ads_Income_All_3w,Ads_Income_All_4w,Net_Incomes_1w,Net_Incomes_2w,Net_Incomes_3w,Net_Incomes_4w,Units_sold_1w,Units_sold_2w,Units_sold_3w,Units_sold_4w
0,28,90953,muebles,estanterías y librerías,150.0,2018-10-01,0.23,1021.0,12.0,28.0,2.78,0.00,1.00,0.00,0.00,0.00,0.0,0.00,0.011753,0.20,0.10,0.07,0.05,1021.00,1021.00,1021.00,1021.00,12.00,12.00,12.00,12.00,0.01,0.01,0.01,0.01,28.00,28.00,28.00,28.00,2.78,2.78,2.78,2.78,0.00,0.00,0.00,0.00,1.00,1.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,29,90953,muebles,estanterías y librerías,150.0,2018-10-02,0.16,830.0,7.0,19.0,1.11,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.008434,0.22,0.11,0.07,0.05,925.50,925.50,925.50,925.50,9.50,9.50,9.50,9.50,0.01,0.01,0.01,0.01,23.50,23.50,23.50,23.50,1.94,1.94,1.94,1.94,0.00,0.00,0.00,0.00,0.50,0.50,0.50,0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30,90953,muebles,estanterías y librerías,150.0,2018-10-03,0.29,1059.0,6.0,0.0,1.72,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.005666,0.22,0.13,0.09,0.06,970.00,970.00,970.00,970.00,8.33,8.33,8.33,8.33,0.01,0.01,0.01,0.01,15.67,15.67,15.67,15.67,1.87,1.87,1.87,1.87,0.00,0.00,0.00,0.00,0.33,0.33,0.33,0.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31,90953,muebles,estanterías y librerías,150.0,2018-10-04,0.24,1517.0,15.0,19.0,3.65,0.67,4.67,66.54,66.54,0.00,0.0,18.23,0.009888,0.22,0.15,0.10,0.07,1106.75,1106.75,1106.75,1106.75,10.00,10.00,10.00,10.00,0.01,0.01,0.01,0.01,16.50,16.50,16.50,16.50,2.32,2.32,2.32,2.32,0.17,0.17,0.17,0.17,1.42,1.42,1.42,1.42,16.64,16.64,16.64,16.64,16.64,16.64,16.64,16.64,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,32,90953,muebles,estanterías y librerías,150.0,2018-10-05,0.00,45.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,82.49,1.0,0.00,0.000000,0.19,0.15,0.10,0.07,894.40,894.40,894.40,894.40,8.00,8.00,8.00,8.00,0.01,0.01,0.01,0.01,13.20,13.20,13.20,13.20,1.85,1.85,1.85,1.85,0.13,0.13,0.13,0.13,1.13,1.13,1.13,1.13,13.31,13.31,13.31,13.31,13.31,13.31,13.31,13.31,16.5,16.5,16.5,16.5,0.2,0.2,0.2,0.2

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9098 entries, 0 to 181
Data columns (total 67 columns):
Unnamed: 0            9098 non-null int64
Reference             9098 non-null int64
CatN1                 9098 non-null object
CatN2                 9098 non-null object
Cat_Price             9098 non-null float64
Dates                 9098 non-null object
CPC_medio             9098 non-null float64
Impressions           9098 non-null float64
Clics                 9098 non-null float64
Page_Views            9098 non-null float64
Cost                  9098 non-null float64
Conversions           9098 non-null float64
All_Conversions       9098 non-null float64
Ads_Income            9098 non-null float64
Ads_Income_All        9098 non-null float64
Net_Incomes           9098 non-null float64
Units_sold            9098 non-null float64
ROAS_Ads              9098 non-null float64
CTR                   7798 non-null float64
CPC_medio_1w          9098 non-null float64
CPC_medio_2w          9098 non-null float64
CPC_medio_3w          9098 non-null float64
CPC_medio_4w          9098 non-null float64
Impressions_1w        9098 non-null float64
Impressions_2w        9098 non-null float64
Impressions_3w        9098 non-null float64
Impressions_4w        9098 non-null float64
Clics_1w              9098 non-null float64
Clics_2w              9098 non-null float64
Clics_3w              9098 non-null float64
Clics_4w              9098 non-null float64
CTR_1w                8098 non-null float64
CTR_2w                8448 non-null float64
CTR_3w                8798 non-null float64
CTR_4w                9098 non-null float64
Page_Views_1w         9098 non-null float64
Page_Views_2w         9098 non-null float64
Page_Views_3w         9098 non-null float64
Page_Views_4w         9098 non-null float64
Cost_1w               9098 non-null float64
Cost_2w               9098 non-null float64
Cost_3w               9098 non-null float64
Cost_4w               9098 non-null float64
Conversions_1w        9098 non-null float64
Conversions_2w        9098 non-null float64
Conversions_3w        9098 non-null float64
Conversions_4w        9098 non-null float64
All_Conversions_1w    9098 non-null float64
All_Conversions_2w    9098 non-null float64
All_Conversions_3w    9098 non-null float64
All_Conversions_4w    9098 non-null float64
Ads_Income_1w         9098 non-null float64
Ads_Income_2w         9098 non-null float64
Ads_Income_3w         9098 non-null float64
Ads_Income_4w         9098 non-null float64
Ads_Income_All_1w     9098 non-null float64
Ads_Income_All_2w     9098 non-null float64
Ads_Income_All_3w     9098 non-null float64
Ads_Income_All_4w     9098 non-null float64
Net_Incomes_1w        9098 non-null float64
Net_Incomes_2w        9098 non-null float64
Net_Incomes_3w        9098 non-null float64
Net_Incomes_4w        9098 non-null float64
Units_sold_1w         9098 non-null float64
Units_sold_2w         9098 non-null float64
Units_sold_3w         9098 non-null float64
Units_sold_4w         9098 non-null float64
dtypes: float64(62), int64(2), object(3)
memory usage: 4.7+ MB

In [142]:
df.shape

(9098, 67)

After concatenating the files, it is developed following steps in order to run the study with the rigth data:
    - Remove rows with ROAS_Ads == 0
    - Remove rows with Pageviews == 0
    - Remove rows with Impressions == 0
    - Remove columns "Reference" and "Dates"

In [151]:
#remove rows with ROAS_Ads == 0
df = df[~df["ROAS_Ads"].isin([0, 1])]

#remove rows with Pageviews == 0
df = df[~df["Page_Views"].isin([0, 1])]

#remove rows with Impressions == 0
df = df[~df["Impressions"].isin([0, 1])]

#remove columns "Reference" and "Dates"
#sort columns in the correct order
columns = ['CatN1', 'CatN2', 'Cat_Price', 'CPC_medio', 'CPC_medio_1w', 'CPC_medio_2w', 'CPC_medio_3w', 
           'CPC_medio_4w','Impressions', 'Impressions_1w', 'Impressions_2w', 'Impressions_3w', 
           'Impressions_4w', 'Clics', 'Clics_1w', 'Clics_2w', 'Clics_3w', 'Clics_4w', 'CTR', 'CTR_1w', 
           'CTR_2w', 'CTR_3w', 'CTR_4w', 'Page_Views', 'Page_Views_1w', 'Page_Views_2w', 'Page_Views_3w', 
           'Page_Views_4w', 'Cost', 'Cost_1w', 'Cost_2w', 'Cost_3w', 'Cost_4w', 'Conversions', 'Conversions_1w', 
           'Conversions_2w', 'Conversions_3w', 'Conversions_4w', 'All_Conversions', 'All_Conversions_1w', 
           'All_Conversions_2w', 'All_Conversions_3w', 'All_Conversions_4w', 'Ads_Income', 'Ads_Income_1w', 
           'Ads_Income_2w', 'Ads_Income_3w', 'Ads_Income_4w', 'Ads_Income_All', 'Ads_Income_All_1w', 
           'Ads_Income_All_2w', 'Ads_Income_All_3w', 'Ads_Income_All_4w', 'Net_Incomes', 'Net_Incomes_1w', 
           'Net_Incomes_2w', 'Net_Incomes_3w', 'Net_Incomes_4w', 'Units_sold', 'Units_sold_1w', 'Units_sold_2w', 
           'Units_sold_3w', 'Units_sold_4w', 'ROAS_Ads']
df = df[columns]

#values ctr

In [152]:
df.shape

(544, 64)

In [144]:
#remove columns "Reference" and "Dates"
#sort columns in the correct order
columns = ['CatN1', 'CatN2', 'Cat_Price', 'CPC_medio', 'CPC_medio_1w', 'CPC_medio_2w', 'CPC_medio_3w', 
           'CPC_medio_4w','Impressions', 'Impressions_1w', 'Impressions_2w', 'Impressions_3w', 
           'Impressions_4w', 'Clics', 'Clics_1w', 'Clics_2w', 'Clics_3w', 'Clics_4w', 'CTR', 'CTR_1w', 
           'CTR_2w', 'CTR_3w', 'CTR_4w', 'Page_Views', 'Page_Views_1w', 'Page_Views_2w', 'Page_Views_3w', 
           'Page_Views_4w', 'Cost', 'Cost_1w', 'Cost_2w', 'Cost_3w', 'Cost_4w', 'Conversions', 'Conversions_1w', 
           'Conversions_2w', 'Conversions_3w', 'Conversions_4w', 'All_Conversions', 'All_Conversions_1w', 
           'All_Conversions_2w', 'All_Conversions_3w', 'All_Conversions_4w', 'Ads_Income', 'Ads_Income_1w', 
           'Ads_Income_2w', 'Ads_Income_3w', 'Ads_Income_4w', 'Ads_Income_All', 'Ads_Income_All_1w', 
           'Ads_Income_All_2w', 'Ads_Income_All_3w', 'Ads_Income_All_4w', 'Net_Incomes', 'Net_Incomes_1w', 
           'Net_Incomes_2w', 'Net_Incomes_3w', 'Net_Incomes_4w', 'Units_sold', 'Units_sold_1w', 'Units_sold_2w', 
           'Units_sold_3w', 'Units_sold_4w', 'ROAS_Ads']
df_all = df[columns]

In [145]:
#HACER CON ROAS NORMAL
df_all["ROAS"] = df_all["Net_Incomes"] /df_all["Cost"]

In [146]:
df_all.shape

(9098, 65)

In [147]:
df_all["ROAS"] = df_all["ROAS"].replace([np.inf, -np.inf], np.nan)

In [148]:
df_all["ROAS"] = df_all["ROAS"].fillna(0)

In [149]:
#remove rows with ROAS_Ads == 0
df_all = df_all[~df_all["ROAS"].isin([0, 1])]

#remove rows with Pageviews == 0
df_all = df_all[~df_all["Page_Views"].isin([0, 1])]

#remove rows with Impressions == 0
df_all = df_all[~df_all["Impressions"].isin([0, 1])]

In [150]:
df_all.shape

(1151, 65)

In [158]:
df_all['Cat_Price'] = df_all['Cat_Price'].apply(str)
df['Cat_Price'] = df['Cat_Price'].apply(str)

In [160]:
df_all.to_csv('./data/final/data_final_ROAS.csv')
df.to_csv('./data/final/data_final_ROAS_ADS.csv')

# QUEDA ARREGLAR LA PARTE FINAL CUANDO SE TENGA CLARO QUE DATASET SE ESCOGE