<a name="top"></a>Contents
===
- [Introduction](#intro)

- [Libraries](#libraries)

- [Datetime Dataframe](#datetime)

- [Pageviews](#pageviews)
    - [BW](#bw)
        - [Open BW dataset](#open_bw)
        - [Customize BW dataset](#customize_bw)
    - [Adwords](#adwords)
        - [Open Adwords dataset](#open_ads)
        - [Customize Ads dataset](#customize_ads)
    - [Merge BW and Adwords data](#merge_bw_ads)
    
- [References url](#url)
    - [Open References url dataset](#open_url)
    - [Merge References url and Top 50 references](#merge_url_top50)
    - [Customize References url dataset](#customize_url)

- [Looping through a dictionary](#looping)
    - [Looping through all key-value pairs](#loop_all_keys_values)
    - [Looping through all keys in a dictionary](#loop_all_keys)
    - [Looping through all values in a dictionary](#loop_all_values)
    - [Looping through a dictionary in order](#looping_in_order)
    - [Exercises](#exercises_looping)
    
- [Nesting](#nesting)
    - [Lists in a dictionary](#lists_in_dictionary)
    - [Dictionaries in a dictionary](#dictionaries_in_dictionary)
    - [An important note about nesting](#important_note)
    - [Exercises](#exercises_nesting)
    
- [Overall Challenges](#overall_challenges)

<a name='intro'></a>Introduction
===
EXPLICAR TODO Y PONER FOTO

<a name='libraries'></a>Libraries
===
First of all, it is necessary to import the required libraries to develop all the steps correctly of this notebbook.

In [2]:
import os
import io
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

#seguramente haya que pones mas librerias

#display maximo columnas

<a name='datetime'></a>  Datetime Dataframe
===
An inconvenient of the data selected for this study is missing values. 
For example, the advertising dataset has a missing value during a specific period when the reference has no impressions a day (it is possible to check an example in the photography atach)

### FOTO!!!!


For this reason, I am going to create a dataframe of a period of time and save it as csv with the purpose of merging with miss values from other datasets that I will work during this study.

In [12]:
path = '/home/miguel/my_project_python/my_project_env/tfm/shopping/notebook'
os.chdir(path)

In [13]:
%run -i 'date_dataframe.py'

<a name='pageviews'></a>Pageviews
===

In this notebook, I am going to merge all datasets link to pageviews information in order to create for each reference a csv file with the following data:
    - Reference
    - Date
    - Pageviews

In [ ]:
<a name='pageviews'></a>Pageviews
===

In this notebook, I am going to merge all datasets link to pageviews information in order to create for each reference a csv file with the following data:
    - Reference
    - Date
    - Pageviews

In [ ]:
First of all, I set the directory for the rest of notebook

In [68]:
path = '/home/miguel/my_project_python/my_project_env/tfm/shopping'
os.chdir(path)

In [ ]:
Then, I open the files required:

In [28]:
#select directory
path_reference_url = './data/customize/top_50'
path_datetime = './data/raw/datetime'


#load files
df_reference_url = pd.read_csv(path_reference_url+'/references_url.csv', sep='\t') 
df_datetime = pd.read_csv(path_datetime+'/datetime_df.csv')    #hacer funcion para datetime


#select columns
column_interest_reference = ['Reference', 'URL']
df_reference_url = df_reference_url[column_interest_reference]


column_interest_datetime = ['Dates']
df_datetime = df_datetime[column_interest_datetime]


#parse datetime
df_datetime['Dates'] = pd.to_datetime(df_datetime['Dates'], format = '%Y-%m-%d')

I check the data

In [29]:
df_reference_url.head(5)

   Reference                                                URL
0     122532  /espejo-pie-nordico-blanco-plastico-dormitorio...
1      51148  /consola-3-cajones-y-4-puertas-oriental-rojo-m...
2      51149  /consola-6-cajones-y-2-puertas-oriental-rojo-m...
3      51136  /consola-3-cajones-y-4-puertas-oriental-negro-...
4      51140  /mesilla-de-noche-1-cajon-y-2-puertas-oriental...

In [30]:
df_datetime.head(5)

       Dates
0 2018-09-03
1 2018-09-04
2 2018-09-05
3 2018-09-06
4 2018-09-07

After checking previous dataframe, I create a function to cover mainly the following steps:

- Open a csv file as dataframe
- Clean data from that file (rename columns, parse to datetime, etc.)
- Merge that dataframe with other dataframes
- Fill missing values
- Return the finaly dataframe

In [49]:
def pageview_missing_values(path,file):
    
    #os.chdir(path)
    
    df_pageview = pd.read_csv(path+file)
    
    df_pageview = df_pageview.rename(index=str, columns={'Day Index':'Dates', 'Page Views': 'Page_Views'})
    
    column_interest_pageview = ['Page', 'Dates', 'Page_Views']
    df_pageview = df_pageview[column_interest_pageview]   
    
    df_pageview['Dates'] = pd.to_datetime(df_pageview['Dates'], format = '%d/%m/%Y')
    
    merge_pageview = df_pageview.merge(df_datetime,
        how='right',
        left_on=['Dates'],
        right_on=['Dates'])
    
    merge_pageview['Page'].fillna(method='ffill', inplace = True)
    merge_pageview['Page_Views'].fillna(0, inplace = True)
    
    merge_url = merge_pageview.merge(df_reference_url,
        how='inner',
        left_on=['Page'],
        right_on=['URL'])
    
    column_interest_reference = ['Reference', 'Dates', 'Page_Views']
    merge_url = merge_url[column_interest_reference].sort_values(by='Dates')
        
    return merge_url

Now, I need to make a list to save the required data

In [50]:
lista = df_reference_url['Reference'].apply(str)+'_url.csv'
c = lista.values.tolist()

Finally, I make a for loop where I apply the funciont "pageview_missing_values" and save the dataframes as csv in a new directory

In [54]:
pwd

'/home/miguel/my_project_python/my_project_env/tfm/shopping'

In [56]:
for i in range(len(c)):
    
    path_raw_data = './data/raw/pageview/'
    
    df_test = pageview_missing_values(path_raw_data, c[i])
    file = c[i]
    
    path_save_data = './data/customize/pageviews/'
    #os.chdir(path)
    
    df_test.to_csv(path_save_data + file)

<a name='bw'></a>BW
===

In [67]:
def open_bw(file,sheet_name, path):

    #open the file xlsx    
    df_bw = pd.read_excel(path+file, sheet_name)
    
    #rename the file columns correctly
    df_bw = df_bw.rename(index=str, columns={'Referencia':'Reference', 'T Día natural':'Date', 
                                             'Valor neto pedidos':'Net_Incomes', 
                                             'Cantidad en unidades (pedidos)':'Units_sold'})
    
    #parse date columns
    df_bw['Date'] = pd.to_datetime(df_bw['Date'], format = '%d.%m.%Y')
    
    return df_bw

In [58]:
pwd

'/home/miguel/my_project_python/my_project_env/tfm/shopping'

In [69]:
#open the file
df_bw = open_bw('BW.xlsx', 'BW', './data/raw/bw/')

#head the file
df_bw.head(5)

,Reference,Name,Date,Net_Incomes,Units_sold
0,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-11,18.93,1
1,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-21,18.93,1
2,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-08,16.08,1
3,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-16,16.08,1
4,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-21,16.08,1

In [70]:
df_bw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37614 entries, 0 to 37613
Data columns (total 5 columns):
Reference      37614 non-null int64
Name           37614 non-null object
Date           37614 non-null datetime64[ns]
Net_Incomes    37614 non-null float64
Units_sold     37614 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.7+ MB

In [71]:
df_bw.shape

(37614, 5)

I also change "Reference" column from int64 to string in order to create a list later

In [95]:
df_bw['Reference'] = df_bw['Reference'].apply(str)

In [97]:
#create unique list of names
#UniqueNames = data.Names.unique()
referencess = df_bw['Reference'].unique().tolist()

#create a data frame dictionary to store your data frames
DataFrameDict = {elem : pd.DataFrame for elem in referencess}

for key in DataFrameDict.keys():
    DataFrameDict[key] = df_bw[:][df_bw.Reference == key]

I use a reference id as example to check if it is working correctly

In [98]:
DataFrameDict['4623']

,Reference,Name,Date,Net_Incomes,Units_sold
0,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-11,18.93,1
1,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-21,18.93,1
2,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-08,16.08,1
3,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-16,16.08,1
4,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-21,16.08,1

As we can see, it works well!

In [80]:
pwd

'/home/miguel/my_project_python/my_project_env/tfm/shopping'

In [87]:
#set directory
path = './data/customize/top_50/'

#open the file 'top_50'
df_top_50 = pd.read_csv(path+'references_url.csv', sep='\t')

#select columns
column_interest_reference = ['Reference']
df_top_50 = df_top_50[column_interest_reference]

In [88]:
df_top_50.head()

   Reference
0     122532
1      51148
2      51149
3      51136
4      51140

In [91]:
df_top_50.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 1 columns):
Reference    50 non-null int64
dtypes: int64(1)
memory usage: 480.0 bytes

I create another list using last dataset (I apply string to "Reference" column as I have also made before)

In [99]:
lista = df_top_50['Reference'].apply(str)
c = lista.values.tolist()

I make a for loop to:

- Read each component of the list and check its data from DataFrameDict.
- Set the directory to storage the data
- Save a csv file for each reference

In [101]:
for i in range(len(c)):
    
    df_test = DataFrameDict[c[i]]
    
    file = c[i]
    
    path = './data/customize/bw/'
        
    df_test.to_csv(path + file + '.csv')

Check the saved data

In [105]:
df_101318 = pd.read_csv('./data/customize/bw/101318.csv', sep=',', error_bad_lines=True)
df_101318.head()

,Unnamed: 0,Reference,Name,Date,Net_Incomes,Units_sold
0,21074,101318,SILLA MARRÓN PU/METAL SALÓN,2017-10-05,151.53,3
1,21075,101318,SILLA MARRÓN PU/METAL SALÓN,2017-10-12,118.85,2
2,21076,101318,SILLA MARRÓN PU/METAL SALÓN,2017-10-15,202.05,4
3,21077,101318,SILLA MARRÓN PU/METAL SALÓN,2018-02-06,44.55,1
4,21078,101318,SILLA MARRÓN PU/METAL SALÓN,2018-02-22,237.69,4

I create function "bw_missing_values" to be able to achieve following goals:

- Open some files that I will work
- Make the required data wrangling in this dataframes
- Work specificly in each reference
- Return a dataframe with the main data in each case

In [106]:
def bw_missing_values(path1, path2, file):
    
    #set directory and open datetime_df file
    #os.chdir(path1)
    df_datetime = pd.read_csv(path1 + 'datetime_df.csv') ###ABRIR CON LA FUNCION
    
    #selecto column interest and parse data to datetime
    column_interest_datetime = ['Dates']
    df_datetime = df_datetime[column_interest_datetime]
    df_datetime['Dates'] = pd.to_datetime(df_datetime['Dates'], format = '%Y-%m-%d')
    
        
    #set directory to open the reference file
    #os.chdir(path2)
    
    #open the csv file for each reference
    df_bw_ref = pd.read_csv(path2 + c[i])
        
    #data wranggling of this data        
    df_bw_ref['Date'] = pd.to_datetime(df_bw_ref['Date'], format = '%Y-%m-%d')
    df_bw_ref = df_bw_ref.rename(index=str, columns={'Net Incomes': 'Net_Incomes', })
        
    #select columns 
    column_interest_bw = ['Reference', 'Name', 'Date', 'Net_Incomes', 'Units_Sold']
    df_bw_ref = df_bw_ref[column_interest_bw]
        
    #merge with df_datetime
    merge_bw = df_bw_ref.merge(df_datetime,
        how='right',
        left_on=['Date'],
        right_on=['Dates'])
        
    #fill NaN values
    merge_bw['Reference'].fillna(method='ffill', inplace = True)
    merge_bw['Name'].fillna(method='ffill', inplace = True)
    merge_bw.fillna(0, inplace = True)
    
    #sort values by Dates
    merge_bw = merge_bw.sort_values(by='Dates')
    
    #select required columns
    column_interest_merge = ['Reference', 'Name', 'Dates', 'Net_Incomes', 'Units_Sold']
    merge_bw = merge_bw[column_interest_merge]   

        
    return merge_bw

I apply the previous function using a for loop

In [ ]:
path_datetime = "/home/miguel/my_project_python/my_project_env/tfm/datasets/"
path_original_data = path_datetime + "/bw/Untitled_Folder/"

for i in range(len(c)):
    df_test = bw_missing_values(path_datetime, path_original_data, c[i])
    file = c[i]
    
    path = "/home/miguel/my_project_python/my_project_env/tfm/datasets/bw/transform_data"
    os.chdir(path)
    
    df_test.to_csv(file)

In [ ]:
df_101318 = pd.read_csv("101318", sep=",", error_bad_lines=True)
df_101318