# Datetime Dataframe

An inconvenient of the data selected for this study is missing values. 
For example, the advertising dataset has a missing value during a specific period when the reference has no impressions a day (it is possible to check an example in the photography atach)

### FOTO!!!!


For this reason, I am going to create a dataframe of a period of time and save it as csv with the purpose of merging with miss values from other datasets that I will work during this study.

First of all, we set as path the directory which contains the data

In [1]:
import os

path = "/home/miguel/Escritorio/TFM"
os.chdir(path)

In [2]:
pwd

'/home/miguel/Escritorio/TFM'

The dataframe will contain date from 2 october 2017 to 31 march 2019

In [4]:
import pandas as pd
import numpy as np

start_date = '2017-09-02'
end_date = '2019-03-31'
mydates = pd.date_range(start_date, end_date).tolist()
df = pd.DataFrame(np.array(mydates).reshape(576,1), columns = ["Dates"])

I check if it is datetime type

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 1 columns):
Dates    576 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 4.6 KB

In [6]:
df.head(50)

        Dates
0  2017-09-02
1  2017-09-03
2  2017-09-04
3  2017-09-05
4  2017-09-06
5  2017-09-07
6  2017-09-08
7  2017-09-09
8  2017-09-10
9  2017-09-11
10 2017-09-12
11 2017-09-13
12 2017-09-14
13 2017-09-15
14 2017-09-16
15 2017-09-17
16 2017-09-18
17 2017-09-19
18 2017-09-20
19 2017-09-21
20 2017-09-22
21 2017-09-23
22 2017-09-24
23 2017-09-25
24 2017-09-26
25 2017-09-27
26 2017-09-28
27 2017-09-29
28 2017-09-30
29 2017-10-01
30 2017-10-02
31 2017-10-03
32 2017-10-04
33 2017-10-05
34 2017-10-06
35 2017-10-07
36 2017-10-08
37 2017-10-09
38 2017-10-10
39 2017-10-11
40 2017-10-12
41 2017-10-13
42 2017-10-14
43 2017-10-15
44 2017-10-16
45 2017-10-17
46 2017-10-18
47 2017-10-19
48 2017-10-20
49 2017-10-21

Thus, I save the data in a csv:

In [8]:
path = "/home/miguel/my_project_python/my_project_env/tfm/datasets"
os.chdir(path)

df.to_csv("datetime_df.csv", sep='\t')