# HACER INIT CON LA CARGA DEL ARCHIVO Y PEGARLO TAMBIEN EN CO1

# REVISAR

# BW

In this notebook, I am going to merge work with BW dataset that contains following column information:
    - Reference
    - Date
    - Pageviews

In [42]:
from datetime import datetime
import numpy as np
import pandas as pd
import io #IO SIRVE?
import os

In [43]:
path = "/media/sf_Carpeta/Smart_Shopping/Data/BW"
os.chdir(path)

In [44]:
pwd

'/media/sf_Carpeta/Smart_Shopping/Data/BW'

In [45]:
df_bw = pd.read_excel("BW.xlsx", sheet_name="BW")

In [46]:
df_bw.head(5)

,Referencia,Name,T Día natural,Valor neto pedidos,Cantidad en unidades (pedidos)
0,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",11.09.2017,18.93,1
1,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",21.09.2017,18.93,1
2,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",08.10.2017,16.08,1
3,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",16.10.2017,16.08,1
4,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",21.10.2017,16.08,1

In [47]:
df_bw = df_bw.rename(index=str, columns={"Referencia":"Reference", "T Día natural": "Date", "Valor neto pedidos": "Net Incomes", "Cantidad en unidades(pedidos)": "Unit_Sold"})

In [48]:
df_bw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37614 entries, 0 to 37613
Data columns (total 5 columns):
Reference                         37614 non-null int64
Name                              37614 non-null object
Date                              37614 non-null object
Net Incomes                       37614 non-null float64
Cantidad en unidades (pedidos)    37614 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.7+ MB

In [49]:
df_bw["Date"] = pd.to_datetime(df_bw["Date"], format = "%d.%m.%Y")

In [51]:
df_bw["Reference"] = df_bw["Reference"].apply(str)

In [52]:
df_bw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37614 entries, 0 to 37613
Data columns (total 5 columns):
Reference                         37614 non-null object
Name                              37614 non-null object
Date                              37614 non-null datetime64[ns]
Net Incomes                       37614 non-null float64
Cantidad en unidades (pedidos)    37614 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 1.7+ MB

In [54]:
#create some data with Names column
#data = pd.DataFrame({'Names': ['Joe', 'John', 'Jasper', 'Jez'] *4, 'Ob1' : np.random.rand(16), 'Ob2' : np.random.rand(16)})

#create unique list of names
#UniqueNames = data.Names.unique()
referencess = df_bw['Reference'].unique().tolist()

#create a data frame dictionary to store your data frames
DataFrameDict = {elem : pd.DataFrame for elem in referencess}

for key in DataFrameDict.keys():
    DataFrameDict[key] = df_bw[:][df_bw.Reference == key]

In [55]:
DataFrameDict['4623']

,Reference,Name,Date,Net Incomes,Cantidad en unidades (pedidos)
0,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-11,18.93,1
1,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-21,18.93,1
2,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-08,16.08,1
3,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-16,16.08,1
4,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-21,16.08,1

In [56]:
path = "/home/miguel/my_project_python/my_project_env/tfm/datasets"
os.chdir(path)

In [59]:
df_reference_url = pd.read_csv("references_url.csv", sep='\t')
column_interest_reference = ["Reference"]
df_reference_url = df_reference_url[column_interest_reference]

In [60]:
df_reference_url.head(5)

   Reference
0     122532
1      51148
2      51149
3      51136
4      51140

In [61]:
df_reference_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 1 columns):
Reference    50 non-null int64
dtypes: int64(1)
memory usage: 480.0 bytes

In [67]:
lista = df_reference_url.apply(str)

In [74]:
lista = df_reference_url["Reference"].apply(str)
c = lista.values.tolist()

In [75]:
for i in range(len(c)):
    df_test = DataFrameDict[c[i]]
    file = c[i]
    
    path = "/home/miguel/my_project_python/my_project_env/tfm/datasets/bw/original_data"
    os.chdir(path)
    
    df_test.to_csv(file)

In [78]:
df_top_50 = pd.read_csv("101318", sep=",", error_bad_lines=True)

In [79]:
df_top_50

,Unnamed: 0,Reference,Name,Date,Net Incomes,Cantidad en unidades (pedidos)
0,21074,101318,SILLA MARRÓN PU/METAL SALÓN,2017-10-05,151.53,3
1,21075,101318,SILLA MARRÓN PU/METAL SALÓN,2017-10-12,118.85,2
2,21076,101318,SILLA MARRÓN PU/METAL SALÓN,2017-10-15,202.05,4
3,21077,101318,SILLA MARRÓN PU/METAL SALÓN,2018-02-06,44.55,1
4,21078,101318,SILLA MARRÓN PU/METAL SALÓN,2018-02-22,237.69,4
5,21079,101318,SILLA MARRÓN PU/METAL SALÓN,2018-02-26,118.84,2
6,21080,101318,SILLA MARRÓN PU/METAL SALÓN,2018-03-31,237.69,4
7,21081,101318,SILLA MARRÓN PU/METAL SALÓN,2018-04-22,118.84,2
8,21082,101318,SILLA MARRÓN PU/METAL SALÓN,2018-04-26,118.84,2
9,21083,101318,SILLA MARRÓN PU/METAL SALÓN,2018-05-08,356.53,6
10,21084,101318,SILLA MARRÓN PU/METAL SALÓN,2018-07-10,237.69,4
11,21085,101318,SILLA MARRÓN PU/METAL SALÓN,2018-08-01,59.42,1
12,21086,101318,SILLA MARRÓN PU/METAL SALÓN,2018-10-21,59.42,1
13,21087,101318,SILLA MARRÓN PU/METAL SALÓN,2018-10-29,59.42,1
14,21088,101318,SILLA MARRÓN PU/METAL SALÓN,2018-11-01,178.26,3
15,21089,101318,SILLA MARRÓN PU/METAL SALÓN,2018-11-06,59.42,1
16,21090,101318,SILLA MARRÓN PU/METAL SALÓN,2018-11-09,237.69,4
17,21091,101318,SILLA MARRÓN PU/METAL SALÓN,2018-11-16,320.88,6
18,21092,101318,SILLA MARRÓN PU/METAL SALÓN,2018-11-20,427.76,8
19,21093,101318,SILLA MARRÓN PU/METAL SALÓN,2018-11-21,106.94,2
20,21094,101318,SILLA MARRÓN PU/METAL SALÓN,2018-11-23,267.35,5
21,21095,101318,SILLA MARRÓN PU/METAL SALÓN,2018-11-24,427.77,8
22,21096,101318,SILLA MARRÓN PU/METAL SALÓN,2018-11-26,374.30,7
23,21097,101318,SILLA MARRÓN PU/METAL SALÓN,2018-12-03,356.53,6
24,21098,101318,SILLA MARRÓN PU/METAL SALÓN,2018-12-08,213.92,4
25,21099,101318,SILLA MARRÓN PU/METAL SALÓN,2018-12-25,118.84,2
26,21100,101318,SILLA MARRÓN PU/METAL SALÓN,2019-01-08,106.94,2
27,21101,101318,SILLA MARRÓN PU/METAL SALÓN,2019-01-09,160.41,3
28,21102,101318,SILLA MARRÓN PU/METAL SALÓN,2019-01-13,106.94,2
29,21103,101318,SILLA MARRÓN PU/METAL SALÓN,2019-01-16,320.82,6
30,21104,101318,SILLA MARRÓN PU/METAL SALÓN,2019-01-17,213.88,4

In [ ]:
#queda arreglar arriba todo
#hacer funciones

#cruzar datadate como en C04 EN pageview_missing_values
# y enviar a transform data

#hacer lo mismo con adwords (dos archivos)

#luego hace falta media movil

#y algoritmos...