# HACER INIT CON LA CARGA DEL ARCHIVO Y PEGARLO TAMBIEN EN CO1

# REVISAR

# BW

In this notebook, I am going to merge work with BW dataset that contains following column information:
    - Reference
    - Date
    - Pageviews

In [3]:
from datetime import datetime
import numpy as np
import pandas as pd
import io #IO SIRVE?
import os

In [4]:
path = "/media/sf_Carpeta/Smart_Shopping/Data/BW"
os.chdir(path)

In [5]:
pwd

'/media/sf_Carpeta/Smart_Shopping/Data/BW'

In [11]:
df_bw = pd.read_excel("BW.xlsx", sheet_name="BW")

In [12]:
df_bw.head(5)

,Referencia,Name,T Día natural,Valor neto pedidos,Cantidad en unidades (pedidos)
0,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",11.09.2017,18.93,1
1,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",21.09.2017,18.93,1
2,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",08.10.2017,16.08,1
3,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",16.10.2017,16.08,1
4,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",21.10.2017,16.08,1

In [13]:
df_bw = df_bw.rename(index=str, columns={"Referencia":"Reference", "T Día natural": "Date", "Valor neto pedidos": "Net Incomes", "Cantidad en unidades(pedidos)": "Unit_Sold"})

In [14]:
df_bw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37614 entries, 0 to 37613
Data columns (total 5 columns):
Reference                         37614 non-null int64
Name                              37614 non-null object
Date                              37614 non-null object
Net Incomes                       37614 non-null float64
Cantidad en unidades (pedidos)    37614 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.7+ MB

In [15]:
df_bw["Date"] = pd.to_datetime(df_bw["Date"], format = "%d.%m.%Y")

In [ ]:
gropby_bw = df_bw.groupby("Referencia")

b3 = b2.groupby('arr_port').agg({'pax' :'sum'}).sort_values(by='pax',ascending=False).head(10)
b3

In [16]:
df_bw_groupby = df_bw.groupby(by="Reference")
df_bw_groupby.head(5)

,Reference,Name,Date,Net Incomes,Cantidad en unidades (pedidos)
0,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-11,18.93,1
1,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-21,18.93,1
2,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-08,16.08,1
3,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-16,16.08,1
4,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-21,16.08,1
5,4624,ESPEJO PUERTA LCC POLIETILENO NARANJA,2017-09-08,16.12,1
6,4624,ESPEJO PUERTA LCC POLIETILENO NARANJA,2017-09-17,18.93,1
7,4631,"ESPEJO PUERTA ""LCC"" PLATA POLIETILENO",2017-09-03,80.59,5
8,4631,"ESPEJO PUERTA ""LCC"" PLATA POLIETILENO",2017-09-04,16.12,1
9,4631,"ESPEJO PUERTA ""LCC"" PLATA POLIETILENO",2017-09-05,112.82,7
10,4631,"ESPEJO PUERTA ""LCC"" PLATA POLIETILENO",2017-09-06,16.12,1
11,4631,"ESPEJO PUERTA ""LCC"" PLATA POLIETILENO",2017-09-10,16.12,1
23,4632,"ESPEJO PUERTA ""LCC"" NEGRO POLIETILENO",2017-09-09,16.12,1
24,4632,"ESPEJO PUERTA ""LCC"" NEGRO POLIETILENO",2017-09-12,18.93,1
25,4632,"ESPEJO PUERTA ""LCC"" NEGRO POLIETILENO",2017-09-29,16.08,1
26,4632,"ESPEJO PUERTA ""LCC"" NEGRO POLIETILENO",2017-10-01,16.08,1
27,4632,"ESPEJO PUERTA ""LCC"" NEGRO POLIETILENO",2017-10-14,18.93,1
30,6558,JARRÓN CILÍNDRICO VIDRIO,2017-10-16,13.97,1
31,6558,JARRÓN CILÍNDRICO VIDRIO,2017-11-23,11.87,1
32,6558,JARRÓN CILÍNDRICO VIDRIO,2018-07-21,13.97,1
33,6558,JARRÓN CILÍNDRICO VIDRIO,2018-12-09,13.97,1
34,6565,JARRÓN ESFERA VIDRIO,2017-09-04,12.31,1
35,6565,JARRÓN ESFERA VIDRIO,2018-04-23,12.31,1
36,6565,JARRÓN ESFERA VIDRIO,2018-08-04,12.31,1
37,6565,JARRÓN ESFERA VIDRIO,2018-11-08,11.08,1
38,6565,JARRÓN ESFERA VIDRIO,2018-11-23,22.14,2
41,6644,PANERA BAMBÚ,2017-09-15,24.71,1
42,6644,PANERA BAMBÚ,2018-01-14,39.50,2
43,6644,PANERA BAMBÚ,2018-02-21,24.71,1
44,6644,PANERA BAMBÚ,2018-04-07,24.71,1
...,...,...,...,...,...
37559,57268000,PISCINA AUTOPORTANTE DEPURADORA,2018-06-21,44.63,1
37580,57270000,PISCINA AUTOPORTANTE DEPURADORA,2018-04-17,53.72,1
37581,57270000,PISCINA AUTOPORTANTE DEPURADORA,2018-06-16,53.72,1
37582,57270000,PISCINA AUTOPORTANTE DEPURADORA,2018-06-19,107.44,2
37583,57270000,PISCINA AUTOPORTANTE DEPURADORA,2018-06-27,53.72,1
37584,57270000,PISCINA AUTOPORTANTE DEPURADORA,2018-07-07,53.72,1
37590,57273000,PISCINA AUTOPORTANTE,2018-05-29,99.01,2
37591,57273000,PISCINA AUTOPORTANTE,2018-06-21,49.50,1
37592,57273000,PISCINA AUTOPORTANTE,2018-06-26,49.51,1
37593,57273000,PISCINA AUTOPORTANTE,2018-06-27,49.50,1
37594,57273000,PISCINA AUTOPORTANTE,2018-07-03,49.50,1
37595,57313000,PISCINA AUTOPORTANTE DEPURADORA,2018-07-04,128.02,1
37596,57321000,PISCINA AUTOPORTANTE DEPURADORA,2018-05-13,109.83,1
37597,65065000,TABLA PADDLE SURF /KAYAK HINCH HIGH WAVE,2018-06-12,406.61,1
37598,65078000,TABLA PADDLE SURF / KAYAK HINH. COAST LI,2017-09-04,594.21,1
37599,65085000,TABLA PADDLE SURF HINCHABLE,2019-03-12,477.68,2
37600,68006000,TIENDA CAMPAÑA POP UP 4 PERSONAS NUCAMP,2018-07-06,108.92,2
37601,68006000,TIENDA CAMPAÑA POP UP 4 PERSONAS NUCAMP,2018-08-30,54.47,1
37602,68007000,TIENDA CAMPAÑA 2 PERSONAS NAVAJO,2018-01-04,53.64,1
37603,68013000,TIENDA CAMPAÑA 4 PERSONAS TRIPTREK,2019-03-12,165.21,1
37604,68024000,MOCHILA MONTAÑA 45 LITROS QUARI,2018-02-13,41.24,1
37605,68048000,SACO DORMIR ESCAPADE 5º-9º GRADOS,2018-01-23,16.45,1
37606,68048000,SACO DORMIR ESCAPADE 5º-9º GRADOS,2019-03-12,20.58,1
37607,68050000,SACO DORMIR INFANTIL,2018-01-28,13.14,1
37608,68050000,SACO DORMIR INFANTIL,2018-02-17,12.31,1
37609,68050000,SACO DORMIR INFANTIL,2018-02-21,16.45,1
37610,68050000,SACO DORMIR INFANTIL,2018-03-03,16.45,1
37611,68050000,SACO DORMIR INFANTIL,2019-03-23,16.45,1
37612,68055000,SACO DORMIR Y COJÍN HIBERNATOS 9º-13º,2019-01-13,22.23,1
37613,68055000,SACO DORMIR Y COJÍN HIBERNATOS 9º-13º,2019-03-12,24.71,1