<a name="top"></a>Contents
===
- [Introduction: Top 50 references](#intro)
- [Libraries](#libraries)
- [BW](#bw)
    - [Open BW dataset](#open)
    - [Filter BW information](#filter)
    - [Exercises](#exercises_what)
- [Common operations with dictionaries](#common_operations)
    - [Adding new key-value pairs](#adding_pairs)
    - [Modifying values in a dictionary](#modifying_values)
    - [Removing key-value pairs](#removing_pairs)
    - [Modifying keys in a dictionary](#modifying_keys)
    - [Exercises](#exercises_common_operations)
- [Looping through a dictionary](#looping)
    - [Looping through all key-value pairs](#loop_all_keys_values)
    - [Looping through all keys in a dictionary](#loop_all_keys)
    - [Looping through all values in a dictionary](#loop_all_values)
    - [Looping through a dictionary in order](#looping_in_order)
    - [Exercises](#exercises_looping)
- [Nesting](#nesting)
    - [Lists in a dictionary](#lists_in_dictionary)
    - [Dictionaries in a dictionary](#dictionaries_in_dictionary)
    - [An important note about nesting](#important_note)
    - [Exercises](#exercises_nesting)
- [Overall Challenges](#overall_challenges)

<a name='intro'></a>Introduction: Top 50 references
===
EXPLICAR TODO Y PONER FOTO

<a name='libraries'></a>Libraries
===
First of all, it is necessary to import the required libraries to develop all the steps correctly of this notebbook.

In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

#seguramente haya que pones mas librerias

<a name='bw'></a>BW
===
In this section, I am going to analyze which are the references most sold in the last 6 months (from 1 october 2018 to 31 march 2019).

-----

RELLENAR


-----

<a name='open'></a> Open BW dataset
---
RELLENAR

In [5]:
def open_bw(file,sheet_name, path):
    
    #set directory to open the file
    os.chdir(path)
    
    #open the file xlsx    
    df_bw = pd.read_excel(file, sheet_name)
    
    #rename the file columns correctly
    df_bw = df_bw.rename(index=str, columns={'Referencia':'Reference', 'T Día natural':'Date', 
                                             'Valor neto pedidos':'Net_Incomes', 
                                             'Cantidad en unidades (pedidos)':'Units_sold'})
    
    #parse date columns
    df_bw['Date'] = pd.to_datetime(df_bw['Date'], format = '%d.%m.%Y')
    
    return df_bw

In [7]:
#open the file
df_bw = open_bw('BW.xlsx', 'BW', '/home/miguel/my_project_python/my_project_env/tfm/shopping/data/raw/bw')

In [10]:
df_bw.head(5)

,Reference,Name,Date,Net_Incomes,Units_sold
0,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-11,18.93,1
1,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-21,18.93,1
2,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-08,16.08,1
3,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-16,16.08,1
4,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-21,16.08,1

In [11]:
df_bw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37614 entries, 0 to 37613
Data columns (total 5 columns):
Reference      37614 non-null int64
Name           37614 non-null object
Date           37614 non-null datetime64[ns]
Net_Incomes    37614 non-null float64
Units_sold     37614 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.7+ MB

In [12]:
df_bw.shape

(37614, 5)

<a name='filter'></a> Filter BW information
---
RELLENAR

In [13]:
#filter information from 10 oct 2018
df_bw_filter = df_bw[df_bw["Date"]>"10.01.2018"]

#group by Reference and enumerate how many days each reference
df_bw_groupby = df_bw.groupby(by="Reference").agg({"Date":"count", "Units_sold":"sum","Net_Incomes":"sum"}).sort_values(by='Units_sold',ascending=False)

#filter net incomes over a 0€ and a minimum of 30 days with a transaction
df_bw_groupby = df_bw_groupby[(df_bw_groupby["Net_Incomes"]!=0) & (df_bw_groupby["Date"]>=30)]

In [14]:
df_bw_groupby.head(5)

           Date  Units_sold  Net_Incomes
Reference
8141600      55         416      8533.68
82462        38         363     11208.61
82035        82         336      8336.26
61119       172         263     11613.23
95203        46         182      2097.29

In [15]:
df_bw_groupby.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 8141600 to 122541
Data columns (total 3 columns):
Date           137 non-null int64
Units_sold     137 non-null int64
Net_Incomes    137 non-null float64
dtypes: float64(1), int64(2)
memory usage: 4.3 KB

In [16]:
df_bw_groupby.shape

(137, 3)