In [ ]:
- 1) REVISAR
- 2) HACER EXPLICACIONES
- 3) MATPLOTLIB
- 4) MARKDOWN


UFO
- 1) HACER EN R LOS PASOS
- 2) BUSCAR FORMAS DE

<a name='top'></a>Contents
===
- [Introduction](#intro)

- [Libraries](#libraries)

- [Top 50 references](#top50)
    - [BW](#bw)
        - [Open BW dataset](#open_bw)
        - [Customize BW dataset](#customize_bw)
    - [Adwords](#adwords)
        - [Open Adwords dataset](#open_ads)
        - [Customize Ads dataset](#customize_ads)
    - [Merge BW and Adwords data](#merge_bw_ads)
    
- [References url](#url)
    - [Open References url dataset](#open_url)
    - [Merge References url and Top 50 references](#merge_url_top50)
    - [Customize References url dataset](#customize_url)

- [Save dataframe](#save_data)

<a name='intro'></a>Introduction
===
EXPLICAR TODO Y PONER FOTO

<a name='libraries'></a>Libraries
===
First of all, it is necessary to import the required libraries to develop all the steps correctly of this notebbook.

In [55]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

#seguramente haya que pones mas librerias

#display maximo columnas

#IMPORTAR WARNINGS

<a name='top50'></a>Top 50 references
===
In this section, I am going to analyze which are the references most sold in the last 6 months (from 1 october 2018 to 31 march 2019).

-----

RELLENAR


-----

<a name='bw'></a>BW
===
In this section, I am going to analyze which are the references most sold in the last 6 months (from 1 october 2018 to 31 march 2019).

-----

RELLENAR


-----

<a name='open_bw'></a> Open BW dataset
---
RELLENAR

In [5]:
def open_bw(file,sheet_name, path):
    
    #set directory to open the file
    os.chdir(path)
    
    #open the file xlsx    
    df_bw = pd.read_excel(file, sheet_name)
    
    #rename the file columns correctly
    df_bw = df_bw.rename(index=str, columns={'Referencia':'Reference', 'T Día natural':'Date', 
                                             'Valor neto pedidos':'Net_Incomes', 
                                             'Cantidad en unidades (pedidos)':'Units_sold'})
    
    #parse date columns
    df_bw['Date'] = pd.to_datetime(df_bw['Date'], format = '%d.%m.%Y')
    
    return df_bw

In [7]:
#open the file
df_bw = open_bw('BW.xlsx', 'BW', '/home/miguel/my_project_python/my_project_env/tfm/shopping/data/raw/bw')

In [10]:
df_bw.head(5)

,Reference,Name,Date,Net_Incomes,Units_sold
0,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-11,18.93,1
1,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-09-21,18.93,1
2,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-08,16.08,1
3,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-16,16.08,1
4,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",2017-10-21,16.08,1

In [11]:
df_bw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37614 entries, 0 to 37613
Data columns (total 5 columns):
Reference      37614 non-null int64
Name           37614 non-null object
Date           37614 non-null datetime64[ns]
Net_Incomes    37614 non-null float64
Units_sold     37614 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.7+ MB

In [12]:
df_bw.shape

(37614, 5)

<a name='customize_bw'></a> Customize BW dataset
---
RELLENAR

In [13]:
#filter information from 10 oct 2018
df_bw_filter = df_bw[df_bw['Date']>'10.01.2018']

#group by Reference and enumerate how many days each reference
df_bw_groupby = df_bw.groupby(by='Reference').agg({'Date':'count', 'Units_sold':'sum','Net_Incomes':'sum'}).sort_values(by='Units_sold',ascending=False)

#filter net incomes over a 0€ and a minimum of 30 days with a transaction
df_bw_groupby = df_bw_groupby[(df_bw_groupby['Net_Incomes']!=0) & (df_bw_groupby['Date']>=30)]

In [14]:
df_bw_groupby.head(5)

           Date  Units_sold  Net_Incomes
Reference
8141600      55         416      8533.68
82462        38         363     11208.61
82035        82         336      8336.26
61119       172         263     11613.23
95203        46         182      2097.29

In [15]:
df_bw_groupby.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 8141600 to 122541
Data columns (total 3 columns):
Date           137 non-null int64
Units_sold     137 non-null int64
Net_Incomes    137 non-null float64
dtypes: float64(1), int64(2)
memory usage: 4.3 KB

In [16]:
df_bw_groupby.shape

(137, 3)

<a name='adwords'></a> Adwords
---
RELLENAR

After grouping and checking the new dataframe, I should select the most suitable references for this study following these steps:
   - Net_Incomes > 0€ in BW
   - At least more than 30 days with a transaction
   - At least more than 30 days of exposition in Adwords
   - Cost > 0€ in Adwords

-----

abro datos de estos meses


-----

<a name='open_ads'></a> Open Adwords dataset
---
RELLENAR

In [21]:
#set directory which contains data
path_ads_raw = '/home/miguel/my_project_python/my_project_env/tfm/shopping/data/raw/adwords'
os.chdir(path_ads_raw)

#open adwords data
df_ads_2018_19 = pd.read_csv('TFM_Datos_2018_19.csv', sep=';')

In [20]:
df_ads_2018_19.head(5)

,ID de producto,Campaña,ID de la campaña,Tipo de producto (primer nivel),Tipo de producto (segundo nivel),Día,Etiqueta personalizada 1,CPC máximo predeterminado del grupo de anuncios,Moneda,Impresiones,Clics,CTR,CPC medio,Coste,Conversiones,Todas las conversiones,Valor de conv.,Valor de todas las conversiones,Valor conv./coste
0,123624,Shop_Cocina y comedor_N1_Y18_W37,1559515409,cocina y comedor,tazas de café y mugs,12/10/2018,10,"0,15",EUR,1,0,"0,00 %","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
1,107553,Shop_Smart_Lámparas_Y18_W45,1623248621,lámparas e iluminación,lámparas de techo,31/01/2019,40,"0,01",EUR,2,0,"0,00 %","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
2,87810,Shop_Navidad_Estrellas de navidad_Y18_W12,1323457572,decoración de navidad,estrellas de navidad,17/10/2018,20,"0,2",EUR,1,0,"0,00 %","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
3,105114,Shop_Decoración_N1_Y18_W37,1559890739,decoración para tu casa,figuras decorativas,25/10/2018,30,"0,15",EUR,4,0,"0,00 %","0,00","0,00","0,00","0,00","0,00","0,00","0,00"
4,111017,Shop_Navidad_Portavelas navideños_Y18_W12,1323682318,decoración de navidad,portavelas navideños,21/10/2018,20,"0,2",EUR,8,0,"0,00 %","0,00","0,00","0,00","0,00","0,00","0,00","0,00"

In [22]:
df_ads_2018_19.shape

(447539, 19)

In [23]:
df_ads_2018_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447539 entries, 0 to 447538
Data columns (total 19 columns):
ID de producto                                     447539 non-null int64
Campaña                                            447539 non-null object
ID de la campaña                                   447539 non-null int64
Tipo de producto (primer nivel)                    447539 non-null object
Tipo de producto (segundo nivel)                   447539 non-null object
Día                                                447539 non-null object
Etiqueta personalizada 1                           447539 non-null object
CPC máximo predeterminado del grupo de anuncios    447539 non-null object
Moneda                                             447539 non-null object
Impresiones                                        447539 non-null int64
Clics                                              447539 non-null int64
CTR                                                447539 non-null object
CPC medio                                          447539 non-null object
Coste                                              447539 non-null object
Conversiones                                       447539 non-null object
Todas las conversiones                             447539 non-null object
Valor de conv.                                     447539 non-null object
Valor de todas las conversiones                    447539 non-null object
Valor conv./coste                                  447539 non-null object
dtypes: int64(4), object(15)
memory usage: 64.9+ MB

After checking the file, let making data wrangling

In [25]:
#select columns of interest
columns_interest_adwords = ['ID de producto', 'Día', 'Coste', 'Impresiones']
df_ads = df_ads_2018_19[columns_interest_adwords]

#Rename columns
df_ads = df_ads.rename(index=str, columns={'ID de producto':'Reference', 'Día':'Date', 'Coste':'Cost', 'Impresiones':'Impresions'})

#String to datetime and float
df_ads['Date'] = pd.to_datetime(df_ads['Date'], format = '%d/%m/%Y')
df_ads['Cost'] = df_ads['Cost'].str.replace(',','.').astype(float)

#Groupby reference
df_ads_groupby = df_ads.groupby(by='Reference').agg({'Date':'count', 'Cost':'sum', 'Impresions':'sum'}).sort_values(by='Cost',ascending=False)

In [26]:
df_ads_groupby.head(5)

           Date     Cost  Impresions
Reference
64534       182  2701.53     1165107
123838      132  1803.89      398687
98064       112  1427.50      482281
103808      174  1370.33      521766
64531       185  1365.16      562220

In [27]:
df_ads_groupby.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9248 entries, 64534 to 105812
Data columns (total 3 columns):
Date          9248 non-null int64
Cost          9248 non-null float64
Impresions    9248 non-null int64
dtypes: float64(1), int64(2)
memory usage: 289.0 KB

<a name='customize_ads'></a> Customize Ads dataset
---
RELLENAR


After this last step, I filter by: "Cost">0 and "Date">30

In [29]:
df_ads_groupby = df_ads_groupby[(df_ads_groupby['Cost']!=0) & (df_ads_groupby['Date']>=30)]

<a name='merge_bw_ads'></a> Merge BW and Adwords data
---
RELLENAR

----

In [40]:
#merge data from both dataframes
merge_bw_ads = df_bw_groupby.merge(df_ads_groupby,
           how='inner',
           left_on=['Reference'],
           right_on=['Reference'])

#reset index
merge_bw_ads = merge_bw_ads.reset_index()

#sort values by Units sold and show the top 50
merge_bw_ads = merge_bw_ads.sort_values(by=['Units_sold'], ascending=False).head(50)

#select just reference column
df_top_50 = merge_bw_ads[['Reference']]

# ¿HACEMOS LISTA O DATAFRAME?

In [41]:
df_top_50

    Reference
0     8141600
1       82462
2       82466
3     8146000
4      122539
5      123838
6       61096
7       89051
8       61731
9       48905
10      89062
11     101318
12     122540
13      29300
14     123482
15      61098
16      51136
17      64530
18      48329
19      61514
20      90953
21      89022
22      93267
23     122334
24      64531
25      51148
26      48624
27      90954
28      38697
29     122432
31      64532
30      51140
32      61118
33      93308
34      61397
35     122335
36      49809
37     103076
38      30655
39     123760
40      48841
41     122532
42      61776
44      64534
43      51149
45      89040
46     101981
47     122331
48     123839
49      49918

<a name='url'></a> References url
----
RELLENAR

----

# Reference url

In this notebook, I am going to merge the references with their pageviews each day of the studied period.

These are the steps that I am going to follow:
    - Merge file "top_50_references.csv" with "references_url.xlsx"
    - Merge the previous combination with "all_pageviews.csv" 
    - Merge thecombination from the second step with "datetime_df.csv"

<a name='open_url'></a> Open References url dataset
----
RELLENAR

----

In [46]:
#set directory
path_url_raw = '/home/miguel/my_project_python/my_project_env/tfm/shopping/data/raw/url'
os.chdir(path_url_raw)

#open 'reference url' dataset
df_url = pd.read_excel('references_url.xlsx', sheet_name='URL')

In [47]:
df_url.head(5)

    sku                                                URL
0  1540  /figura-zapato-plateado-resina-decoracion-10-5...
1  1541  /figura-zapato-plateado-resina-decoracion-15-5...
2  1542  /figura-zapato-clasico-plateado-resina-decorac...
3  1544  /figura-zapato-plateado-resina-decoracion-12-x...
4  1547  /figura-zapato-clasico-plateado-resina-decorac...

In [48]:
df_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30583 entries, 0 to 30582
Data columns (total 2 columns):
sku    30583 non-null object
URL    30583 non-null object
dtypes: object(2)
memory usage: 477.9+ KB

<a name='merge_url_top50'></a> Merge References url and Top 50 references
----
RELLENAR

----

In [51]:
#merge data
merge_url = df_url.merge(df_top_50,
           how='inner',
           left_on=['sku'],
           right_on=['Reference'])

#select column interest
columns_interest = ['Reference', 'URL']
merge_url = merge_url[columns_interest]

In [52]:
merge_url.head(5)

   Reference                                                URL
0     122532  /espejo-pie-nordico-blanco-plastico-dormitorio...
1      51148  /consola-3-cajones-y-4-puertas-oriental-rojo-m...
2      51149  /consola-6-cajones-y-2-puertas-oriental-rojo-m...
3      51136  /consola-3-cajones-y-4-puertas-oriental-negro-...
4      51140  /mesilla-de-noche-1-cajon-y-2-puertas-oriental...

In [53]:
merge_url.shape

(50, 2)

<a name='save_data'></a> Save dataframe
----
RELLENAR

----

In [54]:
#set directory
path = '/home/miguel/my_project_python/my_project_env/tfm/shopping/data/customize/top_50'
os.chdir(path)

#save data
merge_url.to_csv('references_url.csv', sep='\t')