# Reference url

In this notebook, I am going to merge the references with their pageviews each day of the studied period.

These are the steps that I am going to follow:
    - Merge file "top_50_references.csv" with "references_url.xlsx"
    - Merge the previous combination with "all_pageviews.csv" 
    - Merge thecombination from the second step with "datetime_df.csv"

Firstly, I import the libraries

In [4]:
import pandas as pd
import numpy as np

Second, we set as path the directory which contains the file "references_url.xlsx

In [5]:
import os

path = "/media/sf_Carpeta/Smart_Shopping/Data/GA"
os.chdir(path)

In [6]:
pwd

'/media/sf_Carpeta/Smart_Shopping/Data/GA'

After that, I load xlsx file with the required data:

In [8]:
df_url = pd.read_excel("references_url.xlsx", sheet_name="URL")

In [9]:
df_url.head(10)

    sku                                                URL
0  1540  /figura-zapato-plateado-resina-decoracion-10-5...
1  1541  /figura-zapato-plateado-resina-decoracion-15-5...
2  1542  /figura-zapato-clasico-plateado-resina-decorac...
3  1544  /figura-zapato-plateado-resina-decoracion-12-x...
4  1547  /figura-zapato-clasico-plateado-resina-decorac...
5  1549  /maniqui-news-crema-madera-19-10-x-15-20-x-65-...
6  1550  /maniqui-elegance-marron-madera-19-10-x-15-20-...
7  1552  /maniqui-news-crema-madera-35-60-x-35-60-x-150...
8  1553  /maniqui-elegance-marron-madera-40-60-x-27-90-...
9  1557  /figura-buda-gris-ceramica-etnico-garden-8-50-...

Then, I open the file "top_50_references" from other directory

In [12]:
path = "/home/miguel/my_project_python/my_project_env/tfm/datasets"
os.chdir(path)

df_top_50 = pd.read_csv("top_50_references.csv", sep="\t", error_bad_lines=True)

In [13]:
df_top_50.head(10)

   Reference  Date_BW  Units_sold  Net_Incomes  Date_ADS     Cost  Impresions
0    8141600       55         416      8533.68       126   379.78      174498
1      82462       38         363     11208.61        56   121.41       57854
2      82466       41         180      6270.32       126   158.68       96652
3    8146000       98         179      4401.90        39   263.21      106009
4     122539       99         148      5667.47       110   965.58      282555
5     123838       87         143      2636.63       132  1803.89      398687
6      61096      104         142      5365.26       180   481.68      128744
7      89051      115         142      6736.89       149   183.95       67112
8      61731       91         126     10227.65        63   855.59      262189
9      48905       74         115      4773.70        86   549.50       96030

After that, I merge both dataframes:

In [34]:
merge_url = df_url.merge(df_top_50,
           how="inner",
           left_on=["sku"],
           right_on=["Reference"])

In [35]:
merge_url.head(5)

,sku,URL,Reference,Date_BW,Units_sold,Net_Incomes,Date_ADS,Cost,Impresions
0,122532,/espejo-pie-nordico-blanco-plastico-dormitorio...,122532,52,62,2373.93,61,211.74,81334
1,51148,/consola-3-cajones-y-4-puertas-oriental-rojo-m...,51148,76,82,12206.62,182,301.49,171433
2,51149,/consola-6-cajones-y-2-puertas-oriental-rojo-m...,51149,56,61,7474.25,185,648.79,238518
3,51136,/consola-3-cajones-y-4-puertas-oriental-negro-...,51136,77,96,14050.75,182,379.14,131363
4,51140,/mesilla-de-noche-1-cajon-y-2-puertas-oriental...,51140,46,73,7127.27,181,465.76,237417

In [36]:
merge_url.shape

(50, 9)

Now that I have the url from my top 50 references, I select the suitable columns to continue working with this dataframe

In [37]:
columns_interest = ["Reference", "URL"]
merge_url = merge_url[columns_interest]
merge_url.head(5)

   Reference                                                URL
0     122532  /espejo-pie-nordico-blanco-plastico-dormitorio...
1      51148  /consola-3-cajones-y-4-puertas-oriental-rojo-m...
2      51149  /consola-6-cajones-y-2-puertas-oriental-rojo-m...
3      51136  /consola-3-cajones-y-4-puertas-oriental-negro-...
4      51140  /mesilla-de-noche-1-cajon-y-2-puertas-oriental...

I finish saving the dataframe as csv

In [38]:
path = "/home/miguel/my_project_python/my_project_env/tfm/datasets"
os.chdir(path)

merge_url.to_csv("references_url.csv", sep='\t')