### TOP 50 SKUS

In this section, I am going to analyze which are the references most sold in the last 6 months (from 1 october 2018 to 31 march 2019).

First of all, we set as path the directory which contains the data

In [10]:
import os

path = '/home/miguel/Escritorio/TFM'
os.chdir(path)

In [11]:
pwd

'/home/miguel/Escritorio/TFM'

Secondly, I import the libraries that I am going to work in this script

In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

After that, I load xlsx file with the required data:
    - References
    - Name References
    - Date time 
    - Net incomes
    - Units sold per transaction

In [13]:
df_bw = pd.read_excel('BW.xlsx', sheet_name="BW")

In [14]:
df_bw.head(5)

,Referencia,Name,T Día natural,Valor neto pedidos,Cantidad en unidades (pedidos)
0,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",11.09.2017,18.93,1
1,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",21.09.2017,18.93,1
2,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",08.10.2017,16.08,1
3,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",16.10.2017,16.08,1
4,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",21.10.2017,16.08,1

I also check the shape and info of this data

In [15]:
df_bw.shape

(37614, 5)

In [16]:
df_bw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37614 entries, 0 to 37613
Data columns (total 5 columns):
Referencia                        37614 non-null int64
Name                              37614 non-null object
T Día natural                     37614 non-null object
Valor neto pedidos                37614 non-null float64
Cantidad en unidades (pedidos)    37614 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.4+ MB

It is all right.

Then, I continue renaming the columns with the purpose of removing black spaces

In [17]:
df_bw = df_bw.rename(index=str, columns={"Referencia":"Reference", "T Día natural":"Date", "Valor neto pedidos":"Net_Incomes", "Cantidad en unidades (pedidos)":"Units_sold"})

In [18]:
df_bw.head(5)

,Reference,Name,Date,Net_Incomes,Units_sold
0,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",11.09.2017,18.93,1
1,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",21.09.2017,18.93,1
2,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",08.10.2017,16.08,1
3,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",16.10.2017,16.08,1
4,4623,"ESPEJO PUERTA ""LCC"" BLANCO POLIETILENO",21.10.2017,16.08,1

Now, I filter the transactions from 1 october 2018 to 31 march 2019.

To develop correctly this filter, it is necessary to change "Date" column from object type to datetime

In [19]:
from datetime import datetime

In [20]:
df_bw["Date"] = pd.to_datetime(df_bw["Date"], format = '%d.%m.%Y')